<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
    <title></title>
    <link href="style.css" rel="stylesheet" media="screen">
  </head>

  <body bgcolor="#f0f0f0" leftmargin="3" marginheight="20" marginwidth="3" topmargin="20">
    <form action="<tmpl_var url>" method="get" name="FormName">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="39">
			<tr>
				<td valign="middle" width="200" background="bilder/nav_button_back.gif">
					<p class="einzug_ohnetop"><b><tmpl_if newtimer>New Auto Timer<tmpl_else>Edit Auto Timer</tmpl_if></b></p>
				</td>
				<td align="right" background="bilder/nav_button_back_mitte.gif">&nbsp;</td>
				<td align="right" width="203" background="bilder/nav_button_back_mitte.gif">&nbsp;</td>
				<td width="15" background="bilder/nav_button_back_end.gif">&nbsp;</td>
			</tr>
		</table>
      <br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr height="30">
          <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
          <td width="100%" height="30" background="bilder/uebersicht_oben.gif">&nbsp;</td>
          <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
        </tr>
        <tr height="30">
          <td colspan="3" height="30">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte.gif">&nbsp;Auto Timer Active:</td>
                <td height="25" background="bilder/uebersicht_mitte.gif">
                  <tmpl_if name="oneshot">
                    <input type="radio" name="active" value="1">yes <input type="radio" name="active" value="0">no <input type="radio" name="active" value="2" checked>one shot
                  <tmpl_else>
                    <tmpl_if name="active">
                      <input type="radio" name="active" value="1" checked>yes <input type="radio" name="active" value="0">no <input type="radio" name="active" value="2">one shot

                      <tmpl_else>
                      <input type="radio" name="active" value="1">yes <input type="radio" name="active" value="0" checked>no <input type="radio" name="active" value="2">one shot

                    </tmpl_if>
                  </tmpl_if>
                </td>
                <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif">&nbsp;Search Pattern:</td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="pattern" value="<tmpl_var pattern>" size="25"></td>
                <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
              <tr height="25">
                <td valign="top" width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte.gif">&nbsp;Search in:</td>
                <td height="25" background="bilder/uebersicht_mitte.gif">
                  <tmpl_if title>
                    <input type="checkbox" name="title" value="1" checked>

                    <tmpl_else>
                    <input type="checkbox" name="title" value="1">

                  </tmpl_if>
                  
             Title

                  <tmpl_if subtitle>
                    <input type="checkbox" name="subtitle" value="1" checked>

                    <tmpl_else>
                    <input type="checkbox" name="subtitle" value="1">

                  </tmpl_if>
                  
             Subtitle

                  <tmpl_if description>
                    <input type="checkbox" name="description" value="1" checked>

                    <tmpl_else>
                    <input type="checkbox" name="description" value="1">

                  </tmpl_if>
                  
             Description</td>
                <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="25">
                <td valign="top" width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif">&nbsp;Channel:</td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif"><select name="channel" size="1">
                    <option value="0">all Channels</option>
                    <tmpl_loop channels>
                      <option value="<tmpl_var vdr_id>" <tmpl_if cur> selected</tmpl_if>>

                        <tmpl_var name>
                      </option>
                    </tmpl_loop>
                  </select></td>
                <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte.gif">&nbsp;Starts After:</td>
                <td height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="starth" value="<tmpl_var starth>" size="2" maxlength="2">:<input type="text" name="startm" value="<tmpl_var startm>" size="2" maxlength="2"> Uhr</td>
                <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif">&nbsp;Ends Before:</td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="stoph" value="<tmpl_var stoph>" size="2" maxlength="2">:<input type="text" name="stopm" value="<tmpl_var stopm>" size="2" maxlength="2"> Uhr</td>
                <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte.gif">&nbsp;Priority:</td>
                <td height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="prio" value="<tmpl_var prio>" size="2" maxlength="2"></td>
                <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif">&nbsp;Lifetime:</td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="lft" value="<tmpl_var lft>" size="2" maxlength="2"></td>
                <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte.gif">&nbsp;Episode:</td>
                <td height="25" background="bilder/uebersicht_mitte.gif">
                  <tmpl_if episode>
                    <input type="checkbox" name="episode" value="1" checked>

                    <tmpl_else>
                    <input type="checkbox" name="episode" value="1">

                  </tmpl_if>
                </td>
                <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="25">
                <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif">&nbsp;Directory:</td>
                <td height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="directory" value="<tmpl_var directory>" size="14"></td>
                <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr height="30">
          <td width="30" height="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
          <td width="100%" height="30" background="bilder/uebersicht_unten.gif">&nbsp;</td>
          <td width="30" height="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
        </tr>
      </table>
      <br>
      <input type="submit" name="save" value="Save"><input type="submit" name="exit" value="Abort"> <input type="hidden" name="aktion" value="at_timer_save"> <input type="hidden" name="id" value="<tmpl_var id>">
    </form>
  </body>

</html>
