<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
    <title><tmpl_var titel></title>
    <link href="style.css" rel="stylesheet" media="screen">
  </head>

  <body bgcolor="#c4cdd7" leftmargin="3" marginheight="20" marginwidth="3" topmargin="20">
    <form action="<tmpl_var url>" method="get" name="FormName">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="39">
			<tr>
				<td valign="middle" width="200" background="bilder/nav_button_back.gif">
					<p class="einzug_ohnetop"><b>Configuration</b></p>
				</td>
				<td align="right" width="550" background="bilder/nav_button_back_mitte.gif">&nbsp;</td>
				<td align="right" width="203" background="bilder/nav_button_back_mitte.gif">&nbsp;</td>
				<td width="15" background="bilder/nav_button_back_end.gif">&nbsp;</td>
			</tr>
		</table>
		<br>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td></td>
        <td width="10"></td>
        <td></td>
      </tr>
        <tr>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr height="30">
              <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" height="30" background="bilder/uebersicht_oben.gif"><b>General settings:</b></td>
              <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
            <tr>
              <td colspan="3">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Language:</td>
                    <td width="40%" height="25" background="bilder/uebersicht_mitte.gif"><select name="LANGUAGE" size="1">
                    <tmpl_loop name="LANGLIST">
                      <option value="<tmpl_var name>" <tmpl_if aklang> selected</tmpl_if>>
                        <tmpl_var name>
                      </option>
                    </tmpl_loop>
                  </select></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Start page:</td>
                    <td width="40%" height="25" background="bilder/uebersicht_mitte_dark.gif"><select name="LOGINPAGE" size="1">
                    <tmpl_loop name="LOGINPAGES">
                      <option value="<tmpl_var id>" <tmpl_if current> selected</tmpl_if>>
                        <tmpl_var name>
                      </option>
                    </tmpl_loop>
                  </select></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Number of DVB cards:</td>
                    <td width="40%" height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="RECORDINGS" value="<tmpl_var RECORDINGS>" size="2"></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" background="bilder/uebersicht_unten.gif">&nbsp;</td>
              <td width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
          </table>
            <br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr height="30">
                <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
                <td width="100%" height="30" background="bilder/uebersicht_oben.gif"><b>Identifikation:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
              </tr>
              <tr height="25">
                <td colspan="3" height="25">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Username:</td>
                      <td width="40%" height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="USERNAME" value="<tmpl_var USERNAME>" size="12"></td>
                      <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                    </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Password:</td>
                      <td width="40%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="password" name="PASSWORD" value="<tmpl_var PASSWORD>" size="12"></td>
                      <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                    </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Guest Account:</td>
                      <td width="40%" height="25" background="bilder/uebersicht_mitte.gif">                  <tmpl_if guest_account>
                    <input type="radio" name="GUEST_ACCOUNT" value="1" checked>yes <input type="radio" name="GUEST_ACCOUNT" value="0">no
                    <tmpl_else>
                    <input type="radio" name="GUEST_ACCOUNT" value="1">yes <input type="radio" name="GUEST_ACCOUNT" value="0" checked>no 
                  </tmpl_if></td>
                      <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                    </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Guest Username:</td>
                      <td width="40%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="USERNAME_GUEST" value="<tmpl_var USERNAME_GUEST>" size="12"></td>
                      <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                    </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Guest Password:</td>
                      <td width="40%" height="25" background="bilder/uebersicht_mitte.gif"><input type="password" name="PASSWORD_GUEST" value="<tmpl_var PASSWORD_GUEST>" size="12"></td>
                      <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                    </tr>
                </table>
                </td>
              </tr>
              <tr height="30">
                <td width="30" height="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
                <td width="100%" height="30" background="bilder/uebersicht_unten.gif">&nbsp;</td>
                <td width="30" height="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
              </tr>
            </table>
          </td>
        <td valign="top" width="10"></td>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr height="30">
              <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" height="30" background="bilder/uebersicht_oben.gif"><b>Auto Timer settings:</b></td>
              <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
            <tr>
              <td colspan="3">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif">&nbsp;</td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Auto Timer:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte.gif">                  <tmpl_if at_func>
                    <input type="radio" name="AT_FUNC" value="1" checked>on <input type="radio" name="AT_FUNC" value="0">off
                    <tmpl_else>
                    <input type="radio" name="AT_FUNC" value="1">on <input type="radio" name="AT_FUNC" value="0" checked>off
                  </tmpl_if></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Autotimer EPG query interval:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="AT_TIMEOUT" value="<tmpl_var AT_TIMEOUT>" size="4"> minutes</td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Lifetime for new Auto Timer:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="AT_LIFETIME" value="<tmpl_var AT_LIFETIME>" size="2" maxlength="2"></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Priority for new Auto Timer:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="AT_PRIORITY" value="<tmpl_var AT_PRIORITY>" size="2" maxlength="2"></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" background="bilder/uebersicht_unten.gif">&nbsp;</td>
              <td width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
          </table>
          <br>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr height="30">
              <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" height="30" background="bilder/uebersicht_oben.gif"><b>Timer settings:</b></td>
              <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
            <tr>
              <td colspan="3">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Lifetime for new Timer:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="TM_LIFETIME" value="<tmpl_var TM_LIFETIME>" size="2" maxlength="2"></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Priority for new Timer:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="TM_PRIORITY" value="<tmpl_var TM_PRIORITY>" size="2" maxlength="2"></td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte.gif">Margin begin:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte.gif"><input type="text" name="TM_MARGIN_BEGIN" value="<tmpl_var TM_MARGIN_BEGIN>" size="3"> minutes</td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts.gif"></td>
                  </tr>
                  <tr height="25">
                    <td width="30" height="25" background="bilder/uebersicht_links_dark.gif"></td>
                    <td height="25" background="bilder/uebersicht_mitte_dark.gif">Margin end:</td>
                    <td width="30%" height="25" background="bilder/uebersicht_mitte_dark.gif"><input type="text" name="TM_MARGIN_END" value="<tmpl_var TM_MARGIN_END>" size="3"> minutes</td>
                    <td width="30" height="25" background="bilder/uebersicht_rechts_dark.gif"></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="100%" background="bilder/uebersicht_unten.gif">&nbsp;</td>
              <td width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
            </tr>
          </table>
        </td>
      </tr>
        <tr>
        <td colspan="3">                  
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="black">
                    <tr height="30">
              <td width="30" height="30" background="bilder/uebersicht_oben.gif"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
              <td width="40%" height="30" background="bilder/uebersicht_oben.gif">
                  <div align="left">
                    <b>Channel selections:</b></div>
                </td>
                      <td bgcolor="#c6c6c6" height="30" background="bilder/uebersicht_oben.gif">&nbsp;</td>
                      <td bgcolor="#c6c6c6" width="45%" height="30" background="bilder/uebersicht_oben.gif">
                        <div align="center"></div>
                      </td>
              <td bgcolor="#c6c6c6" width="30" height="30" background="bilder/uebersicht_oben.gif"><img src="bilder/uebersicht_oben_rechts.gif" alt="" height="30" width="30" border="0"></td>
            </tr>
              <tr height="30">
                <td width="30" height="30" background="bilder/uebersicht_links.gif"></td>
                <td width="40%" height="30" background="bilder/uebersicht_mitte.gif">on &quot;Channels&quot;:</td>
                <td colspan="2" bgcolor="#c6c6c6" height="30" background="bilder/uebersicht_mitte.gif">
                  <tmpl_if CHANNELS_WANTED_PRG>
                    <input type="radio" name="CHANNELS_WANTED_PRG" value="1" checked>yes <input type="radio" name="CHANNELS_WANTED_PRG" value="0">no
                    <tmpl_else>
                    <input type="radio" name="CHANNELS_WANTED_PRG" value="1">yes <input type="radio" name="CHANNELS_WANTED_PRG" value="0" checked>no
                  </tmpl_if>                
                </td>
                <td bgcolor="#c6c6c6" width="30" height="30" background="bilder/uebersicht_rechts.gif"></td>
              </tr>
              <tr height="30">
                <td width="30" height="30" background="bilder/uebersicht_links_dark.gif"></td>
                <td width="40%" height="30" background="bilder/uebersicht_mitte_dark.gif">on &quot;Whats on?&quot;:</td>
                <td colspan="2" bgcolor="#c6c6c6" height="30" background="bilder/uebersicht_mitte_dark.gif">
                  <tmpl_if CHANNELS_WANTED_SUMMARY>
                    <input type="radio" name="CHANNELS_WANTED_SUMMARY" value="1" checked>yes <input type="radio" name="CHANNELS_WANTED_SUMMARY" value="0">no
                    <tmpl_else>
                    <input type="radio" name="CHANNELS_WANTED_SUMMARY" value="1">yes <input type="radio" name="CHANNELS_WANTED_SUMMARY" value="0" checked>no
                  </tmpl_if>                
                </td>
                <td bgcolor="#c6c6c6" width="30" height="30" background="bilder/uebersicht_rechts_dark.gif"></td>
              </tr>
              <tr>
              <td bgcolor="#dfdcdc" width="30" background="bilder/uebersicht_links.gif"></td>
              <td width="40%" background="bilder/uebersicht_mitte.gif">
                        <div align="center">
                          <p><br>
                      
                          All Channels<br>
                      <select name="all_channels" size="8" multiple>
                              <tmpl_loop name="ALL_CHANNELS">
                                <option value="<tmpl_var vdr_id>">
                                  <tmpl_var name>
                                </option>
                              </tmpl_loop>
                            </select></p>
                        </div>
                      </td>
                      <td background="bilder/uebersicht_mitte.gif">
                        <div align="center">
                          <p><br>
                          </p>
                          <p><input type="submit" name="submit" value="&gt;&gt;&gt;&gt;&gt;"></p>
                          <p><input type="submit" name="submit" value="&lt;&lt;&lt;&lt;&lt;"></p>
                          <p></p>
                        </div>
                      </td>
                      <td width="45%" background="bilder/uebersicht_mitte.gif">
                        <div align="center">
                          <p><br>
                      
                          Display these Channels<br>
                      <select name="selected_channels" size="8" multiple>
                              <tmpl_loop name="SELECTED_CHANNELS">
                                <option value="<tmpl_var vdr_id>">
                                  <tmpl_var name>
                                </option>
                              </tmpl_loop>
                            </select></p>
                        </div>
                      </td>
              <td bgcolor="#dfdcdc" width="30" background="bilder/uebersicht_rechts.gif"></td>
            </tr>
              <tr height="30">
                <td bgcolor="#dfdcdc" width="30" height="30" background="bilder/uebersicht_links.gif"><img src="bilder/uebersicht_unten_links.gif" alt="" height="30" width="30" border="0"></td>
                <td width="40%" height="30" background="bilder/uebersicht_unten.gif"></td>
                <td height="30" background="bilder/uebersicht_unten.gif"></td>
                <td width="45%" height="30" background="bilder/uebersicht_unten.gif"></td>
                <td bgcolor="#dfdcdc" width="30" height="30" background="bilder/uebersicht_rechts.gif"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
              </tr>
            </table></td>
      </tr>
      </table>
    <br>
    <input type="submit" name="save" value="Save"><input type="submit" name="apply" value="Apply"> <input type="hidden" name="aktion" value="conf_list">
		</form>
  </body>

</html>
