/* The user.css is mainly an example to demonstrate the possibilities */

/*
	Disable items in navigation bar.
	For valid ids read navigation.html.
*/
#rc {
	display: none;
}

/*
	Disable action icons.
	e.g.: close, switch, record, imdb, info, stream
*/
/* disable info and stream buttons in lists */
.list .action.info,
.list .action.stream {
	display: none;
}

/* Disable scrollbars in prog_summary detail view. */
#prog_summary .epg_summary {
	overflow: auto;
}
