/* don't want background images */
td, .heading td, .footer td, .heading td[selected], .footer td[selected], #prog_summary .heading>td, #prog_summary .footer td { background-image: none };

.heading { height: 17px; }
.row_spacer>td, .footer>td, .footer>td[selected] { height: 3px; }
.col_left, .col_right { display: none; }

.heading td[selected] { background-color: #aab0aa; }
.heading td { background-color: #838183; }
.row_even>td[selected] { background-color: #dee6f6; }
.row_even>td { background-color: #eeeeff; }
.row_odd>td[selected], .row_spacer>td[selected], .footer>td[selected] { background-color: #d5def6; }
.row_odd>td, .row_spacer>td, .footer>td { background-color: #f6faff; }

td.col_navi { text-align: right; background-color: #f6faff; white-space: nowrap; }

#heading { height: 39px; border: 1px dotted black; }
#heading tr { vertical-align: middle; background-color: #d5dae6; }
#heading td { vertical-align: middle; padding: 0px 10px; }
#heading .col_other { text-align: right; }
#heading .col_help { text-align: center; width: 45px; }

.list, .group { margin-top: 0.6em; border: 1px solid black; }
.heading h2, .heading a { font-weight: bold; font-style: italic; letter-spacing: 0.5em; color: white; padding: 2px 5px; }
.heading a:hover { color: black; text-decoration: none; }

.gbutton { border: 1px solid black; padding: 5px 10px 2px 10px; height: 20px; background-color: #eeeeff; border-radius: 10px; -moz-border-radius: 10px; }
#prog_summary .heading a { font-weight: bold; font-style: italic; letter-spacing: 0.1em; color: white; padding: 2px 2px; }
#prog_summary .group { margin: 3px; width: 252px; display: inline; float: left; }
#content { margin-top: 0.5em; }
