textarea  { color: #000; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Geneva, Helvetica, Geneva }
input     { color: #000; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Geneva, Helvetica, Geneva }
select    { color: #000; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Geneva, Helvetica, Geneva }
td        { color: black; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva }
p         { color: black; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva }
h1,h2,h3,h4,h5,h6 { color: black; font-family: Verdana, Arial, Helvetica, Geneva }
a         { color: #000000; font-weight: bold; text-decoration : none }
.klein    { font-size: 10px; font-family: Verdana, Arial, Helvetica, Geneva }
.small    { font-size: 8px; font-family: Verdana, Arial, Helvetica, Geneva }
.navi  { font-size: 10px; font-family: Verdana, Arial, Helvetica, Geneva }
a:hover   { font-size: 13px; color: #ff0000 }
