*         { font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; }
input     { color: black; font-weight: normal; font-size: 11px; }
td        { color: black; font-size: 11px; }
a         { color: black; font-weight: bold; text-decoration: none }
a:hover   { font-size: 13px; color: #ff0000 }
.navi     { margin-left: 0.5em; font-size: 10px; }
