<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
    <title><tmpl_var title></title>
		<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
    <link href="style.css" rel="stylesheet" media="screen">
  </head>

  <body bgcolor="#c4cdd7">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr height="30">
        <td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0"></td>
        <td height="30" valign="middle" background="bilder/uebersicht_oben.gif"><b><tmpl_var channel_name><tmpl_if date> | <tmpl_var date>   <tmpl_var start> - <tmpl_var stop></tmpl_if></b></td>
        <td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0"></td>
      </tr>
      <tr>
        <td width="30" background="bilder/uebersicht_links.gif">&nbsp;</td>
        <td bgcolor="#c4cdd7" background="bilder/uebersicht_mitte.gif"><b><tmpl_var title></b><br><tmpl_if subtitle><b><nobr><tmpl_var subtitle></nobr></b> <br></tmpl_if>
				<tmpl_var text> <br>
				&nbsp;<a href="javascript:window.close()">[schlie&szlig;en]</a>
				<tmpl_if date>
				&nbsp;<a href="javascript:callurl('<tmpl_var switchurl>')">[umschalten]</a>
				&nbsp;<a href="javascript:window.close();opener.location.href='<tmpl_var recurl>'">[aufnehmen]</a>
				&nbsp;<a href="vdradmin.pl?search=<tmpl_var title>&aktion=prog_summary&submit=go11)"  target="main">[wiederholungen]</a>
				</tmpl_if>
				</td>
        <td width="30" background="bilder/uebersicht_rechts.gif">&nbsp;</td>
      </tr>
      <tr>
        <td width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0"></td>
        <td background="bilder/uebersicht_unten.gif"></td>
        <td width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0"></td>
      </tr>
    </table>
  </body>

</html>
