<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<%! ISO-8859-1 !%>" />
	<title><%! About !%></title>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
</head>

<body id="about" onload="window.focus()">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td colspan="2"><h2><%! Authors !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Current author (VDRAdmin-AM branch): !%></h5></td>
			<td class="col_value"><a href="mailto:mail@andreas.vdr-developer.org">Andreas Mair</a> (<a href="http://andreas.vdr-developer.org" target="_blank">Homepage</a>)</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Original author (VDRAdmin): !%></h5></td>
			<td class="col_value">Thomas Koch (<a href="http://www.linvdr.org" target="_blank">Homepage</a>)</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
	</table>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td colspan="2"><h2><%! Translation Team !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Dutch: !%></h5></td>
			<td class="col_value">Roel Koelewijn</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! English: !%></h5></td>
			<td class="col_value">Andreas Mair</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Finnish: !%></h5></td>
			<td class="col_value">Rolf Ahrenberg</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! French: !%></h5></td>
			<td class="col_value"><!-- <%! At the moment unmaintained, former translations by: !%> -->Trois Six (also at vdrportal.de), map, lobotomise, bads, Mickaël Nival</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! German: !%></h5></td>
			<td class="col_value">Andreas Mair</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Spanish: !%></h5></td>
			<td class="col_value">R&uuml;diger Jung</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! Russian: !%></h5></td>
			<td class="col_value">Oleg Roitburd and Allrussian-forum translation team</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
	</table>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td colspan="2"><h2><%! Informations !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! VDRAdmin-AM version: !%></h5></td>
			<td class="col_value"><tmpl_var myversion></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td class="col_label"><h5><%! VDR version: !%></h5></td>
			<td class="col_value"><tmpl_var vdrversion></td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td colspan="2"></td>
			<td class="col_right"></td>
		</tr>
	</table>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="help" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td><h2><%! Getting Help and Reporting Bugs !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td>
				<ul>
					<li><%! If you need help please first try to use the online help you'll find on some pages. You can access it by clicking <img src="bilder/help.png"/>. !%></li>
					<li><%! If this doesn't provide the information you need you can try to get help at <a href="http://www.vdrportal.de" target="_blank">VDR-Portal</a> if you understand German language. Please use the announcement thread if possible, search for: !%> &quot;[ANNOUNCE] VDRAdmin-AM-<tmpl_var myversion>&quot;</li>
					<li><%! If you think you have found a bug please check that it's a new one and report it in the <a href="http://www.vdr-developer.org/mantisbt/main_page.php" target="_blank">VDRAdmin-AM BugTracking system</a>. !%></li>
			</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
	</table>
</body>

</html>
