<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>"/>
	<title>VDRAdmin - <%! AutoTimer !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css"/>
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css"/>
	</tmpl_if>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<?% IF config.AT_TOOLTIP %?>
		<script type="text/javascript" language="JavaScript1.2" src="infobox.js"></script>
	<?% END %?>
</head>

<body id="at_timer_list">
<?% IF config.AT_TOOLTIP %?>
	<div id="infodiv" style="position:absolute; visibility:hidden; z-index:20; top:0px; left:0px;"></div>
		<script language="JavaScript" type="text/javascript">
<?%
	FOREACH timer = at_timer_loop2;
%?>
			maketip("VDR-<?% timer.id %?>", "<?% timer.pattern %?>", "<%! Priority: !%> <?% timer.prio %?><br /><%! Lifetime: !%> <?% timer.lft %?>");
<?%
	END
%?>
	</script>
<?% END %?>

	<form action="<tmpl_var url>" method="get" name="FormName0">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_left">
				<td class="col_title">
					<h1><%! AutoTimer !%></h1>
				</td>
				<td class="col_other">
					<input type="submit" class="submit" name="new_at" value="<%! New AutoTimer !%>" />
					<input type="hidden" name="aktion" value="at_timer_new" />
				</td>
<tmpl_if name="help_url">
				<td class="col_help">
					<a href="javascript:open_help('<tmpl_var help_url>');"><img src="bilder/help.gif" border="0" alt="help" title="<%! Help !%>"/></a>
				</td>
</tmpl_if>
				<td class="col_right"></td>
			</tr>
		</table>
	</form>

	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content" class="list">
			<tr class="heading">
				<td class="col_left"></td>
				<td class="col_active <tmpl_if sortbyactive>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbyactiveurl>"><%! Active !%>
							<tmpl_if sortbyactive>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0"/>
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0"/>
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_channel <tmpl_if sortbychannel>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbychannelurl>"><%! Channel !%>
							<tmpl_if sortbychannel>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0"/>
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0"/>
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_start <tmpl_if sortbystart>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbystarturl>"><%! Start !%>
							<tmpl_if sortbystart>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0"/>
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0"/>
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_stop <tmpl_if sortbystop>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbystopurl>"><%! Stop !%>
							<tmpl_if sortbystop>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0"/>
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0"/>
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_name <tmpl_if sortbypattern>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbypatternurl>"><%! Name !%>
							<tmpl_if sortbypattern>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0"/>
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0"/>
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_edit"></td>
				<td class="col_delete"></td>
				<td class="col_checkbox"><input type="checkbox" name="SELALL" value="SELALL" onclick="AllMessages(this.form);" title="<%! Select all/none !%>"/></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_spacer">
				<td class="col_left"></td>
				<td class="col_active <tmpl_if sortbyactive>selected</tmpl_if>"></td>
				<td class="col_channel <tmpl_if sortbychannel>selected</tmpl_if>"></td>
				<td class="col_start <tmpl_if sortbystart>selected</tmpl_if>"></td>
				<td class="col_stop <tmpl_if sortbystop>selected</tmpl_if>"></td>
				<td class="col_name <tmpl_if sortbypattern>selected</tmpl_if>"></td>
				<td colspan="3"></td>
				<td class="col_right"></td>
			</tr>

<tmpl_loop at_timer_loop>
			<tr class="<tmpl_if __ODD__>row_odd<tmpl_else>row_even</tmpl_if>">
				<td class="col_left"></td>
				<td class="col_active <tmpl_if sortbyactive>selected</tmpl_if>">
					<div>
						<tmpl_if active>
							<a href="<tmpl_var toggleurl>"><img src="bilder/poempl_gruen.gif" alt="" width="19" height="19" align="middle" border="0"/> <%! Yes !%></a>
						<tmpl_else>
							<a href="<tmpl_var toggleurl>"><img src="bilder/poempl_grau.gif" alt="" width="19" height="19" align="middle" border="0"/> <%! No !%></a>
						</tmpl_if>
					</div>
				</td>
				<td class="col_channel <tmpl_if sortbychannel>selected</tmpl_if>">
					<div>
						<tmpl_if channel><a href="<tmpl_var proglink>"><tmpl_var channel></a><tmpl_else>-</tmpl_if>
					</div>
				</td>
				<td class="col_start <tmpl_if sortbystart>selected</tmpl_if>">
					<div>
						<tmpl_if start><tmpl_var start><tmpl_else>-</tmpl_if>
					</div>
				</td>
				<td class="col_stop <tmpl_if sortbystop>selected</tmpl_if>">
					<div>
						<tmpl_if stop><tmpl_var stop><tmpl_else>-</tmpl_if>
					</div>
				</td>
				<td class="col_name <tmpl_if sortbypattern>selected</tmpl_if>" <?% IF config.AT_TOOLTIP %?>onMouseOver="tip('VDR-<tmpl_var id>'); return true;" onMouseOut="untip(); return true;"<?% END %?>>
					<div>
						<tmpl_var pattern>
					</div>
				</td>
				<td class="col_edit">
					<div>
						<a href="<tmpl_var modurl>"><img src="bilder/edit.gif" alt="edit" height="17" width="17" border="0" title="<%! Edit !%>"/></a>
					</div>
				</td>
				<td class="col_delete">
					<div>
						<a href="javascript:del('<%! Delete timer? !%>\n\n&quot;<tmpl_var pattern>&quot;', '<tmpl_var delurl>');"><img src="bilder/delete.gif" alt="delete" height="17" width="17" border="0" title="<%! Delete !%>"/></a>
					</div>
				</td>
				<td class="col_checkbox">
					<div>
						<input type="checkbox" name="xxxx_<tmpl_var id>"/>
					</div>
				</td>
				<td class="col_right"></td>
			</tr>
</tmpl_loop>

			<tr class="footer">
				<td class="col_left"></td>
				<td class="col_active <tmpl_if sortbyactive>selected</tmpl_if>"></td>
				<td class="col_channel <tmpl_if sortbychannel>selected</tmpl_if>"></td>
				<td class="col_start <tmpl_if sortbystart>selected</tmpl_if>"></td>
				<td class="col_stop <tmpl_if sortbystop>selected</tmpl_if>"></td>
				<td class="col_name <tmpl_if sortbypattern>selected</tmpl_if>"></td>
				<td colspan="3"></td>
				<td class="col_right"></td>
			</tr>
		</table>

		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="buttons">
			<tr>
				<td align="left">
					<input type="submit" class="submit" name="at_force" value="<%! Force Update !%>" />
				</td>
				<td align="right">
					<input type="submit" class="submit" name="at_delete" value="<%! Delete Selected AutoTimers !%>" onclick="return mdel_old('<%! Delete all selected timers? !%>');" />
				</td>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="at_timer_aktion"/>
	</form>
</body>

</html>
