<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
	<title><?% msg.c_progname %?> - <?% msg.al_autotimer %?></title>
	<link href="style.css" rel="stylesheet" media="screen">
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body bgcolor="#c4cdd7" leftmargin="3" marginheight="20" marginwidth="3" topmargin="20">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" height="39">
		<tr>
			<td valign="middle" width="200" background="bilder/nav_button_back.gif">
				<p class="einzug_ohnetop"><b><?% msg.al_autotimer %?></b></p>
			</td>
			<td align="right" background="bilder/nav_button_back_mitte.gif">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr height="20">
						<td width="12" height="20" background="bilder/gbutton_left.gif"></td>
						<td align="center" height="20" background="bilder/gbutton_middle.gif">
							<a href="<tmpl_var naturl>"><div class="gbutton"><?% msg.al_new_autotimer %?></div></a>
						</td>
						<td width="12" height="20" background="bilder/gbutton_right.gif"></td>
						<td></td>
					</tr>
				</table>
			</td>
<tmpl_if name="help_url">
			<td align="right" width="35" background="bilder/nav_button_back_mitte.gif">
				<a href="javascript:open_help('<tmpl_var help_url>');"><img src="bilder/help.gif" border="0" align="right" valign="top" alt="help" title="<?% msg.c_help %?>"></a>
			</td>
</tmpl_if>
			<td width="15" background="bilder/nav_button_back_end.gif">&nbsp;</td>
		</tr>
	</table>
	<br>
	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top" width="30">
					<p><img src="bilder/uebersicht_oben_links.gif" alt="" height="30" width="30" border="0"></p>
				</td>
				<td width="70" background="bilder/uebersicht_oben<tmpl_if sortbyactive>_selected</tmpl_if>.gif">
					<nobr class="einzug_liste_headlines">
						<a class="sort" href="<tmpl_var sortbyactiveurl>"><?% msg.c_list_active %?>
							<tmpl_if sortbyactive>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0">
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0">
							</tmpl_if>
						</a>
					</nobr>
				</td>
				<td width="10%" background="bilder/uebersicht_oben<tmpl_if sortbychannel>_selected</tmpl_if>.gif">
					<nobr class="einzug_liste_headlines">
						<a class="sort" href="<tmpl_var sortbychannelurl>"><?% msg.c_list_channel %?>
							<tmpl_if sortbychannel>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0">
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0">
							</tmpl_if>
						</a>
					</nobr>
				</td>
				<td width="40" background="bilder/uebersicht_oben<tmpl_if sortbystart>_selected</tmpl_if>.gif">
					<nobr class="einzug_liste_headlines">
						<a class="sort" href="<tmpl_var sortbystarturl>"><?% msg.c_list_start %?>
							<tmpl_if sortbystart>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0">
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0">
							</tmpl_if>
						</a>
					</nobr>
				</td>
				<td width="40" background="bilder/uebersicht_oben<tmpl_if sortbystop>_selected</tmpl_if>.gif">
					<nobr class="einzug_liste_headlines">
						<a class="sort" href="<tmpl_var sortbystopurl>"><?% msg.c_list_stop %?>
							<tmpl_if sortbystop>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0">
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0">
							</tmpl_if>
						</a>
					</nobr>
				</td>
				<td background="bilder/uebersicht_oben<tmpl_if sortbypattern>_selected</tmpl_if>.gif">
					<nobr class="einzug_liste_headlines">
						<a class="sort" href="<tmpl_var sortbypatternurl>"><?% msg.c_list_name %?>
							<tmpl_if sortbypattern>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0">
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0">
							</tmpl_if>
						</a>
					</nobr>
				</td>
				<td width="30" background="bilder/uebersicht_oben.gif">&nbsp;</td>
				<td width="30" background="bilder/uebersicht_oben.gif">&nbsp;</td>
				<td align="right" width="30" background="bilder/uebersicht_oben.gif">&nbsp;</td>
				<td valign="top" width="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" height="30" width="30" border="0"></td>
			</tr>

<tmpl_loop at_timer_loop>
			<tr>
				<td valign="top" width="30" background="bilder/uebersicht_links<tmpl_if __ODD__>_dark</tmpl_if>.gif">&nbsp;</td>
				<td valign="top" width="70" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbyactive>_selected</tmpl_if>.gif">
					<p class="einzug_liste">
						<tmpl_if active>
							<img src="bilder/poempl_gruen.gif" alt="" width="19" height="19" align="absmiddle" border="0">
							<a href="<tmpl_var toggleurl>"><font color="black"><?% msg.c_yes %?></font></a>
						<tmpl_else>
							<img src="bilder/poempl_rot.gif" alt="" width="19" height="19" align="absmiddle" border="0">
							<a href="<tmpl_var toggleurl>"><font color="black"><?% msg.c_no %?></font></a>
						</tmpl_if>
					</p>
				</td>
				<td valign="top" width="120" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbychannel>_selected</tmpl_if>.gif">
					<p class="einzug_liste">
						<tmpl_if channel><tmpl_var channel><tmpl_else>-</tmpl_if>
					</p>
				</td>
				<td valign="top" width="40" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbystart>_selected</tmpl_if>.gif">
					<p class="einzug_liste">
						<tmpl_if start><tmpl_var start><tmpl_else>-</tmpl_if>
					</p>
				</td>
				<td valign="top" width="40" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbystop>_selected</tmpl_if>.gif">
					<p class="einzug_liste">
						<tmpl_if stop><tmpl_var stop><tmpl_else>-</tmpl_if>
					</p>
				</td>
				<td valign="top" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbypattern>_selected</tmpl_if>.gif">
					<p class="einzug_liste">
						<tmpl_var pattern>
					</p>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif">
					<p class="einzug_liste">
						<a href="<tmpl_var modurl>"><img src="bilder/edit.gif" alt="edit" height="17" width="17" border="0" title="<?% msg.c_edit %?>"></a>
					</p>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif">
					<p class="einzug_liste">
						<a href="javascript:del('<?% msg.js_del_timer %?>', '<tmpl_var delurl>');"><img src="bilder/delete.gif" alt="delete" height="17" width="17" border="0" title="<?% msg.c_delete %?>"></a>
					</p>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif">
					<p class="einzug_liste"><input type="checkbox" name="xxxx_<tmpl_var id>"></p>
				</td>
				<td valign="top" width="30" background="bilder/uebersicht_rechts<tmpl_if __ODD__>_dark</tmpl_if>.gif">&nbsp;</td>
			</tr>
</tmpl_loop>

			<tr>
				<td valign="top" width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" height="30" width="30" border="0"></td>
				<td colspan="8" background="bilder/uebersicht_unten.gif">&nbsp;</td>
				<td valign="top" width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" height="30" width="30" border="0"></td>
			</tr>
			<tr>
				<td colspan="5" valign="top">
					<table border="0" cellspacing="0" cellpadding="0">
						<br>
						<tr height="20">
							<td width="12" height="20" background="bilder/gbutton_left.gif"></td>
							<td align="center" height="20" background="bilder/gbutton_middle.gif">
								<a href="<tmpl_var force_update_url>"><div class="gbutton"><?% msg.al_force_update %?></div></a>
							</td>
							<td width="12" height="20" background="bilder/gbutton_right.gif"></td>
						</tr>
					</table>
				</td>
				<td colspan="4" align="right">
					<br>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr height="20">
							<td width="12" height="20" background="bilder/gbutton_left.gif"></td>
							<td align="center" height="20" background="bilder/gbutton_middle.gif">
								<a href="javascript:mdel('<?% msg.js_del_selected_timer %?>');"><div class="gbutton"><?% msg.al_del_selected %?></div></a>
							</td>
							<td width="12" height="20" background="bilder/gbutton_right.gif"></td>
						</tr>
					</table>
				</td>
				<td valign="top" width="30"></td>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="at_timer_delete">
	</form>
</body>

</html>
