<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>"/>
	<title>VDRAdmin-AM - <?% IF newtimer %?><?% gettext('Add New AutoTimer') %?><?% ELSE %?><?% gettext('Edit AutoTimer') %?><?% END %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css"/>
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css"/>
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="at_timer_new">
	<form action="<?% url %?>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title">
					<h1><?% IF newtimer %?><?% gettext('Add New AutoTimer') %?><?% ELSE %?><?% gettext('Edit AutoTimer') %?><?% END %?></h1>
				</td>
<?% IF help_url %?>
				<td class="col_help">
					<a href="javascript:open_help('<?% help_url %?>');"><img src="bilder/help.png" border="0" alt="help" title="<?% gettext('Help') %?>"/></a>
				</td>
<?% END %?>
			</tr>
		</table>

		<div id="content">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('AutoTimer Active:') %?></h5></td>
					<td class="col_value">
<?% IF active == 2 %?>
	         	<input type="radio" name="active" value="1" id="active_yes" /><label for="active_yes"><?% gettext('Yes') %?></label>
 	        	<input type="radio" name="active" value="0" id="active_no" /><label for="active_no"><?% gettext('No') %?></label>
						<input type="radio" name="active" value="2" id="active_oneshot" checked="checked" /><label for="active_oneshot"><?% gettext('oneshot') %?></label>
<?% ELSE %?>
						<input type="radio" name="active" value="1" id="active_yes" <?% IF active %?>checked="checked"<?% END %?> /><label for="active_yes"><?% gettext('Yes') %?></label>
						<input type="radio" name="active" value="0" id="active_no" <?% UNLESS active %?>checked="checked"<?% END %?> /><label for="active_no"><?% gettext('No') %?></label>
						<input type="radio" name="active" value="2" id="active_oneshot" /><label for="active_oneshot"><?% gettext('oneshot') %?></label>
<?% END %?>
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Search Patterns:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="pattern" value="<?% pattern %?>" size="40" />
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Search in:') %?></h5></td>
					<td class="col_value">
						<input type="checkbox" name="title" value="1" id="searchin_title" <?% IF title %?>checked="checked"<?% END %?> /><label for="searchin_title"><?% gettext('Title') %?></label>
						<input type="checkbox" name="subtitle" value="1" id="searchin_subtitle" <?% IF subtitle %?>checked="checked"<?% END %?> /><label for="searchin_subtitle"><?% gettext('Subtitle') %?></label>
						<input type="checkbox" name="description" value="1" id="searchin_description" <?% IF description %?>checked="checked"<?% END %?> /><label for="searchin_description"><?% gettext('Description') %?></label>
 	       </td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Search only on these days:') %?></h5></td>
					<td class="col_value">
						<input type="checkbox" name="wday_mon" value="1" id="wday_mon" <?% IF wday_mon %?>checked="checked"<?% END %?> /><label for="wday_mon"><?% gettext('Monday') %?></label>
						<input type="checkbox" name="wday_tue" value="1" id="wday_tue" <?% IF wday_tue %?>checked="checked"<?% END %?> /><label for="wday_tue"><?% gettext('Tuesday') %?></label>
						<input type="checkbox" name="wday_wed" value="1" id="wday_wed" <?% IF wday_wed %?>checked="checked"<?% END %?> /><label for="wday_wed"><?% gettext('Wednesday') %?></label>
						<input type="checkbox" name="wday_thu" value="1" id="wday_thu" <?% IF wday_thu %?>checked="checked"<?% END %?> /><label for="wday_thu"><?% gettext('Thursday') %?></label>
						<input type="checkbox" name="wday_fri" value="1" id="wday_fri" <?% IF wday_fri %?>checked="checked"<?% END %?> /><label for="wday_fri"><?% gettext('Friday') %?></label>
						<input type="checkbox" name="wday_sat" value="1" id="wday_sat" <?% IF wday_sat %?>checked="checked"<?% END %?> /><label for="wday_sat"><?% gettext('Saturday') %?></label>
						<input type="checkbox" name="wday_sun" value="1" id="wday_sun" <?% IF wday_sun %?>checked="checked"<?% END %?> /><label for="wday_sun"><?% gettext('Sunday') %?></label>
 	       </td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Channel:') %?></h5></td>
					<td class="col_value">
						<select class="submit" name="channel">
							<option value="0"><?% gettext('all') %?></option>
<?% FOREACH chan = channels %?>
								<option value="<?% chan.vdr_id %?>" <?% IF chan.cur %?>selected="selected"<?% END %?>><?% chan.name | html %?></option>
<?% END %?>
						</select>
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Starts After:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="starth" value="<?% starth %?>" size="2" maxlength="2" />
						<b>&nbsp;:&nbsp;</b>
						<input type="text" name="startm" value="<?% startm %?>" size="2" maxlength="2" />
						&nbsp;<?% gettext('o\'clock') %?>
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Ends Before:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="stoph" value="<?% stoph %?>" size="2" maxlength="2" />
						<b>&nbsp;:&nbsp;</b>
						<input type="text" name="stopm" value="<?% stopm %?>" size="2" maxlength="2" />
						&nbsp;<?% gettext('o\'clock') %?>
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Override Start/Stop Margins:') %?></h5></td>
					<td class="col_value">
						<input type="radio" name="buffers" value="1" id="buffers_yes" <?% IF buffers %?>checked="checked"<?% END %?> /><label for="buffers_yes"><?% gettext('Yes') %?></label>
						<input type="radio" name="buffers" value="0" id="buffers_no" <?% UNLESS buffers %?>checked="checked"<?% END %?> /><label for="buffers_no"><?% gettext('No') %?></label>
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Time Margin at Start:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="bstart" value="<?% bstart %?>" size="2" maxlength="2" /> <?% gettext('minutes') %?>
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Time Margin at Stop:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="bstop" value="<?% bstop %?>" size="2" maxlength="2" /> <?% gettext('minutes') %?>
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Priority:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="prio" value="<?% prio %?>" size="2" maxlength="2" />
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Lifetime:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="lft" value="<?% lft %?>" size="2" maxlength="2" />
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><label for="episode"><?% gettext('Episode:') %?></label></h5></td>
					<td class="col_value">
						<input type="checkbox" name="episode" value="1" id="episode" <?% IF episode %?>checked="checked"<?% END %?> />
					</td>
				</tr>
				<tr class="row_odd">
					<td class="col_label"><h5><?% gettext('Remember programmed timers:') %?></h5></td>
					<td class="col_value">
						<input type="radio" name="done" value="1" id="rem_yes" <?% IF done %?>checked="checked"<?% END %?> /><label for="rem_yes"><?% gettext('Yes') %?></label>
						<input type="radio" name="done" value="0" id="rem_no" <?% UNLESS done %?>checked="checked"<?% END %?> /><label for="rem_no"><?% gettext('No') %?></label>
					</td>
				</tr>
				<tr class="row_even">
					<td class="col_label"><h5><?% gettext('Directory:') %?></h5></td>
					<td class="col_value">
						<input type="text" name="directory" value="<?% directory %?>" size="40" />
					</td>
				</tr>
			</table>
		</div>

		<div id="buttons">
			<input type="submit" class="submit" name="save" value="<?% gettext('Save') %?>" />
			<input type="submit" class="submit" name="test" value="<?% gettext('Test') %?>" />
			<input type="submit" class="submit" name="exit" value="<?% gettext('Cancel') %?>" />
		</div>
		<input type="hidden" name="aktion" value="at_timer_aktion" />
		<input type="hidden" name="id" value="<?% id %?>" />
	</form>

<?% IF at_test %?>
	<br />
	<?% IF matches %?>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
			<tr class="heading">
				<td><h2><?% gettext('Title') %?></h2></td>
				<td><h2><?% gettext('Subtitle') %?></h2></td>
				<td><h2><?% gettext('Broadcasted') %?></h2></td>
				<td><h2><?% gettext('Stored in') %?></h2></td>
			</tr>
		<?% FOREACH match = matches %?>
			<tr class="<?% IF loop.count() % 2 == 0 %?>row_even<?% ELSE %?>row_odd<?% END %?>">
				<td><?% match.otitle %?></td>
				<td><?% match.subtitle %?></td>
				<td><?% match.date %?>, <?% match.start %?> - <?% match.stop %?> (<?% match.channel %?>)</td>
				<td><?% match.title %?></td>
			</tr>
		<?% END %?>
		</table>
	<?% ELSE %?>
		<div class="warning"><?% gettext('No matches found!') %?></div>
	<?% END %?>
<?% END %?>
</body>

</html>
