<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="scroller">
<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>" />
	<title>VDRAdmin-AM - <?% gettext('Configuration') %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="config">
	<form action="<?% url %?>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title">
					<h1><?% gettext('Configuration') %?></h1>
				</td>
<?% IF help_url %?>
				<td class="col_help">
					<a href="javascript:open_help('<?% help_url %?>');"><img src="bilder/help.png" border="0" alt="help" title="<?% gettext('Help') %?>" /></a>
				</td>
<?% END %?>
			</tr>
		</table>

<?% IF error_msg %?>
		<div class="error"><?% error_msg %?></div>
<?% END %?>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('General Settings') %?></h2></td>
			</tr>
<?% tr_class = "row_odd" %?>
<?% IF TEMPLATELIST.size() > 1 %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Template:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="TEMPLATE">
<?% FOREACH template = TEMPLATELIST %?>
						<option value="<?% template.name | html %?>" <?% IF template.aktemplate %?>selected="selected"<?% END %?>><?% template.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
<?% END %?>
<?% IF SKINLIST.size() > 1 %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Skin:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="SKIN">
<?% FOREACH skin = SKINLIST %?>
						<option value="<?% skin.name | html %?>" <?% IF skin.sel %?>selected="selected"<?% END %?>><?% skin.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
<?% END %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Login Page:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="LOGINPAGE">
<?% FOREACH loginpage = LOGINPAGES %?>
						<option value="<?% loginpage.id %?>" <?% IF loginpage.current %?>selected="selected"<?% END %?>><?% loginpage.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Number of channels to use:') %?></h5></td>
				<td class="col_value"><input type="text" name="EPG_PRUNE" value="<?% config.EPG_PRUNE | html %?>" size="5" maxlength="25" /></td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Local net (no login required):') %?></h5></td>
				<td class="col_value"><input type="text" name="LOCAL_NET" value="<?% config.LOCAL_NET | html %?>" size="20" maxlength="50" /></td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Language:') %?></h5></td>
				<td class="col_value">
<?% IF MY_LOCALES.size() > 0 %?>
					<select class="submit" name="LANG">
	<?% FOREACH locale = MY_LOCALES %?>
						<option value="<?% locale.id %?>" <?% IF locale.cur %?>selected="selected"<?% END %?>><?% locale.name %?></option>
	<?% END %?>
					</select>
<?% ELSE %?>
					<input type="text" name="LANG" value="<?% config.LANG | html %?>" size="20" maxlength="50" />
<?% END %?>
				</td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Save settings on exit:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AUTO_SAVE_CONFIG" value="1" id="autosave_yes" <?% IF config.AUTO_SAVE_CONFIG %?>checked="checked"<?% END %?> /><label for="autosave_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AUTO_SAVE_CONFIG" value="0" id="autosave_no" <?% UNLESS config.AUTO_SAVE_CONFIG %?>checked="checked"<?% END %?> /><label for="autosave_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('VDR') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Number of DVB cards:') %?></h5></td>
				<td class="col_value"><input type="text" name="RECORDINGS" value="<?% config.RECORDINGS | html %?>" size="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to recordings:') %?></h5></td>
				<td class="col_value"><input type="text" name="VIDEODIR" value="<?% config.VIDEODIR | html %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Path to configuration files:') %?></h5></td>
				<td class="col_value"><input type="text" name="VDRCONFDIR" value="<?% config.VDRCONFDIR | html %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to EPG images:') %?></h5></td>
				<td class="col_value"><input type="text" name="EPGIMAGES" value="<?% config.EPGIMAGES | html %?>" size="20" maxlength="256" /></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Identification') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Username:') %?></h5></td>
				<td class="col_value"><input type="text" name="USERNAME" value="<?% config.USERNAME | html %?>" size="12" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Password:') %?></h5></td>
				<td class="col_value"><input type="password" name="PASSWORD" value="<?% config.PASSWORD | html %?>" size="12" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Guest Account:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="GUEST_ACCOUNT" value="1" id="guest_yes" <?% IF config.GUEST_ACCOUNT %?>checked="checked"<?% END %?> /><label for="guest_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="GUEST_ACCOUNT" value="0" id="guest_no" <?% UNLESS config.GUEST_ACCOUNT %?>checked="checked"<?% END %?> /><label for="guest_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Guest Username:') %?></h5></td>
				<td class="col_value"><input type="text" name="USERNAME_GUEST" value="<?% config.USERNAME_GUEST | html %?>" size="12" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Guest Password:') %?></h5></td>
				<td class="col_value"><input type="password" name="PASSWORD_GUEST" value="<?% config.PASSWORD_GUEST | html %?>" size="12" /></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Timeline') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Hours:') %?></h5></td>
				<td class="col_value"><input type="text" name="ZEITRAHMEN" value="<?% config.ZEITRAHMEN | html %?>" size="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Times:') %?></h5></td>
				<td class="col_value"><input type="text" name="TIMES" value="<?% config.TIMES | html %?>" size="20" />&nbsp;&nbsp;&nbsp;<?% gettext('Also used for other EPG views!') %?></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Tooltips:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TL_TOOLTIP" value="1" id="tl_tooltip_yes" <?% IF config.TL_TOOLTIP %?>checked="checked"<?% END %?> /><label for="tl_tooltip_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TL_TOOLTIP" value="0" id="tl_tooltip_no" <?% UNLESS config.TL_TOOLTIP %?>checked="checked"<?% END %?> /><label for="tl_tooltip_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

<?% IF features.AUTOTIMER %?>
		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('AutoTimer') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Active:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_FUNC" value="1" id="at_yes" <?% IF config.AT_FUNC %?>checked="checked"<?% END %?> /><label for="at_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_FUNC" value="0" id="at_no" <?% UNLESS config.AT_FUNC %?>checked="checked"<?% END %?> /><label for="at_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Priority:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_PRIORITY" value="<?% config.AT_PRIORITY | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Lifetime:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_LIFETIME" value="<?% config.AT_LIFETIME | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Time Margin at Start:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_MARGIN_BEGIN" value="<?% config.AT_MARGIN_BEGIN | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Time Margin at Stop:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_MARGIN_END" value="<?% config.AT_MARGIN_END | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Send email after programming timer:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_SENDMAIL" value="1" id="at_sendmail_yes" <?% IF config.AT_SENDMAIL %?>checked="checked"<?% END %?> /><label for="at_sendmail_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_SENDMAIL" value="0" id="at_sendmail_no" <?% UNLESS config.AT_SENDMAIL %?>checked="checked"<?% END %?> /><label for="at_sendmail_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Send email as:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_FROM" value="<?% config.MAIL_FROM | html %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Send email to:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_TO" value="<?% config.MAIL_TO | html %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Mail server:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_SERVER" value="<?% config.MAIL_SERVER | html %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('SMTPAuth user:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_AUTH_USER" value="<?% config.MAIL_AUTH_USER | html %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('SMTPAuth password:') %?></h5></td>
				<td class="col_value"><input type="password" name="MAIL_AUTH_PASS" value="<?% config.MAIL_AUTH_PASS | html %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Tooltips:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_TOOLTIP" value="1" id="at_tooltip_yes" <?% IF config.AT_TOOLTIP %?>checked="checked"<?% END %?> /><label for="at_tooltip_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_TOOLTIP" value="0" id="at_tooltip_no" <?% UNLESS config.AT_TOOLTIP %?>checked="checked"<?% END %?> /><label for="at_tooltip_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Track schedule changes by:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="NO_EVENTID" value="1" id="no_eventid_1" <?% IF config.NO_EVENTID %?>checked="checked"<?% END %?> /><label for="no_eventid_1"><?% gettext('Broadcast time') %?></label>
					<input type="radio" name="NO_EVENTID" value="0" id="no_eventid_0" <?% UNLESS config.NO_EVENTID %?>checked="checked"<?% END %?> /><label for="no_eventid_0"><?% gettext('Event id') %?></label>
				</td>
			</tr>
		</table>
<?% END %?>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Timer') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Priority:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_PRIORITY" value="<?% config.TM_PRIORITY | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Lifetime:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_LIFETIME" value="<?% config.TM_LIFETIME | html %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Time Margin at Start:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_MARGIN_BEGIN" value="<?% config.TM_MARGIN_BEGIN | html %?>" size="3" /> <?% gettext('minutes') %?></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Time Margin at Stop:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_MARGIN_END" value="<?% config.TM_MARGIN_END | html %?>" size="3" /> <?% gettext('minutes') %?></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Tooltips in timeline:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TM_TT_TIMELINE" value="1" id="tm_tl_timeline_yes" <?% IF config.TM_TT_TIMELINE %?>checked="checked"<?% END %?> /><label for="tm_tl_timeline_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TM_TT_TIMELINE" value="0" id="tm_tl_timeline_no" <?% UNLESS config.TM_TT_TIMELINE %?>checked="checked"<?% END %?> /><label for="tm_tl_timeline_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Tooltips in list:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TM_TT_LIST" value="1" id="tm_tl_list_yes" <?% IF config.TM_TT_LIST %?>checked="checked"<?% END %?> /><label for="tm_tl_list_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TM_TT_LIST" value="0" id="tm_tl_list_no" <?% UNLESS config.TM_TT_LIST %?>checked="checked"<?% END %?> /><label for="tm_tl_list_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

<?% IF config.ST_FUNC %?>
		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Streaming') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Live Streaming:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="ST_LIVE_ON" value="1" id="live_yes" <?% IF config.ST_LIVE_ON %?>checked="checked"<?% END %?> /><label for="live_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="ST_LIVE_ON" value="0" id="live_no" <?% UNLESS config.ST_LIVE_ON %?>checked="checked"<?% END %?> /><label for="live_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('HTTP Port of Streamdev (also possible 3000/ts):') %?></h5></td>
				<td class="col_value"><input type="text" name="ST_STREAMDEV_PORT" value="<?% config.ST_STREAMDEV_PORT | html %?>" size="10" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Recordings Streaming:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="ST_REC_ON" value="1" id="rec_yes" <?% IF config.ST_REC_ON %?>checked="checked"<?% END %?> /><label for="rec_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="ST_REC_ON" value="0" id="rec_no" <?% UNLESS config.ST_REC_ON %?>checked="checked"<?% END %?> /><label for="rec_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to VDR Recordings on your workstation:') %?></h5></td>
				<td class="col_value"><input type="text" name="ST_VIDEODIR" value="<?% config.ST_VIDEODIR | html %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('MIME type for live streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="TV_MIMETYPE" value="<?% config.TV_MIMETYPE | html %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Suffix for live streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="TV_EXT" value="<?% config.TV_EXT | html %?>" size="4" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('MIME type for recordings streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="REC_MIMETYPE" value="<?% config.REC_MIMETYPE | html %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Suffix for recordings streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="REC_EXT" value="<?% config.REC_EXT | html %?>" size="4" maxlength="256" /></td>
			</tr>
<!-- not (yet?) supported 
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Bandwidth of Streams:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="STREAMTYPE">
<?% FOREACH streamtype = STREAMTYPELIST %?>
						<option value="<?% streamtype.name | html %?>" <?% IF streamtype.sel %?>selected="selected"<?% END %?>><?% streamtype.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
-->
		</table>
<?% END %?>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('External Search') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td valign="top" class="col_label"><h5>Internet Movie Database (IMDb):</h5></td>
				<td class="col_value">
					<?% gettext('Active:') %?>
					<input type="radio" name="SRCH1_ACTIVE" value="1" id="srch1_active_yes" <?% IF config.SRCH1_ACTIVE %?>checked="checked"<?% END %?> /><label for="srch1_active_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="SRCH1_ACTIVE" value="0" id="srch1_active_no" <?% UNLESS config.SRCH1_ACTIVE %?>checked="checked"<?% END %?> /><label for="srch1_active_no"><?% gettext('No') %?></label>
					<br />
					<?% gettext('URL:') %?>
					<input type="text" name="SRCH1_URL" value="<?% config.SRCH1_URL | html %?>" size="40" maxlength="256" />
					<br />
					<?% gettext('Title:') %?>
					<input type="text" name="SRCH1_TITLE" value="<?% config.SRCH1_TITLE | html %?>" size="40" maxlength="256" />
				</td>
			</tr>
			<tr class="row_even">
				<td valign="top" class="col_label"><h5><?% gettext('User-defined search:') %?></h5></td>
				<td class="col_value">
					<?% gettext('Active:') %?>
					<input type="radio" name="SRCH2_ACTIVE" value="1" id="srch2_active_yes" <?% IF config.SRCH2_ACTIVE %?>checked="checked"<?% END %?> /><label for="srch2_active_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="SRCH2_ACTIVE" value="0" id="srch2_active_no" <?% UNLESS config.SRCH2_ACTIVE %?>checked="checked"<?% END %?> /><label for="srch2_active_no"><?% gettext('No') %?></label>
					<br />
					<?% gettext('URL:') %?>
					<input type="text" name="SRCH2_URL" value="<?% config.SRCH2_URL | html %?>" size="40" maxlength="256" />
					<br />
					<?% gettext('Title:') %?>
					<input type="text" name="SRCH2_TITLE" value="<?% config.SRCH2_TITLE | html %?>" size="40" maxlength="256" />
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Expert') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Update EPG data in background:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="CACHE_BG_UPDATE" value="1" id="cbgupd_yes" <?% IF config.CACHE_BG_UPDATE %?>checked="checked"<?% END %?> /><label for="cbgupd_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="CACHE_BG_UPDATE" value="0" id="cbgupd_no" <?% UNLESS config.CACHE_BG_UPDATE %?>checked="checked"<?% END %?> /><label for="cbgupd_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Update EPG every:') %?></h5></td>
				<td class="col_value"><input type="text" name="CACHE_TIMEOUT" value="<?% config.CACHE_TIMEOUT | html %?>" size="4" /> <?% gettext('minutes') %?></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="3"><h2><?% gettext('Channel Selections') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Show channels without EPG information:') %?></h5></td>
				<td class="col_value" colspan="2">
					<input type="radio" name="CHANNELS_WITHOUT_EPG" value="1" id="chnoepg_yes" <?% IF config.CHANNELS_WITHOUT_EPG %?>checked="checked"<?% END %?> /><label for="chnoepg_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="CHANNELS_WITHOUT_EPG" value="0" id="chnoepg_no" <?% UNLESS config.CHANNELS_WITHOUT_EPG %?>checked="checked"<?% END %?> /><label for="chnoepg_no"><?% gettext('No') %?></label>
				</td>
			</tr>
<?% IF features.AUTOTIMER %?>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('In "AutoTimer"?') %?></h5></td>
				<td class="col_value" colspan="2">
					<input type="radio" name="CHANNELS_WANTED_AUTOTIMER" value="1" id="wat_yes" <?% IF config.CHANNELS_WANTED_AUTOTIMER %?>checked="checked"<?% END %?> /><label for="wat_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="CHANNELS_WANTED_AUTOTIMER" value="0" id="wat_no" <?% UNLESS config.CHANNELS_WANTED_AUTOTIMER %?>checked="checked"<?% END %?> /><label for="wat_no"><?% gettext('No') %?></label>
				</td>
			</tr>
<?% ELSE %?>
			<tr class="row_even">
				<td class="col_label"><h5>&nbsp;</h5></td>
				<td class="col_value" colspan="2">&nbsp;</td>
			</tr>
<?% END %?>
			<tr class="row_odd">
				<td class="col_channels">
					<select name="all_channels" size="8" multiple="multiple" class="channels">
<?% FOREACH chan = ALL_CHANNELS %?>
						<option value="<?% chan.vdr_id %?>"><?% chan.name | html %?></option>
<?% END %?>
					</select>
				</td>
				<td>
					<input type="submit" class="submit" name="submit" value="&gt;&gt;&gt;&gt;&gt;" /><br />
					<input type="submit" class="submit" name="submit" value="&lt;&lt;&lt;&lt;&lt;" />
				</td>
				<td class="col_wanted_channels">
					<select name="selected_channels" size="8" multiple="multiple" class="channels">
<?% FOREACH chan = SELECTED_CHANNELS %?>
						<option value="<?% chan.vdr_id %?>"><?% chan.name | html %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
		</table>

		<div id="buttons">
			<input type="submit" class="submit" name="save" value="<?% gettext('Save') %?>" />
			<input type="submit" class="submit" name="apply" value="<?% gettext('Apply') %?>" />
		</div>
		<input type="hidden" name="aktion" value="config" />
	</form>
</body>

</html>
