<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>" />
	<title>VDRAdmin-AM - <?% gettext('Configuration') %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<script type="text/javascript" language="JavaScript">
		<!--
		function new_tab(tab_nr)
		{
			document.FormName.new_tab.value = tab_nr;
			document.FormName.apply.click();
		}
		//-->
	</script>
</head>

<body id="config">
	<form action="<?% url %?>" method="get" name="FormName">
		<input type="hidden" name="new_tab" value="<?% active_tab %?>"/>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title">
					<h1><?% gettext('Configuration') %?></h1>
				</td>
<?% IF help_url %?>
				<td class="col_help">
					<a href="javascript:open_help('<?% help_url %?>');"><img src="bilder/help.png" border="0" alt="help" title="<?% gettext('Help') %?>" /></a>
				</td>
<?% END %?>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('General Settings') %?></h2></td>
			</tr>
<?% tr_class = "row_odd" %?>
<?% IF TEMPLATELIST.size() > 1 %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Template:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="TEMPLATE">
<?% FOREACH template = TEMPLATELIST %?>
						<option value="<?% template.name %?>" <?% IF template.aktemplate %?>selected="selected"<?% END %?>><?% template.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
<?% END %?>
<?% IF SKINLIST.size() > 1 %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Skin:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="SKIN">
<?% FOREACH skin = SKINLIST %?>
						<option value="<?% skin.name %?>" <?% IF skin.sel %?>selected="selected"<?% END %?>><?% skin.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
<?% END %?>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Login Page:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="LOGINPAGE">
<?% FOREACH loginpage = LOGINPAGES %?>
						<option value="<?% loginpage.id %?>" <?% IF loginpage.current %?>selected="selected"<?% END %?>><?% loginpage.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Number of channels to use:') %?></h5></td>
				<td class="col_value"><input type="text" name="EPG_PRUNE" value="<?% config.EPG_PRUNE %?>" size="5" maxlength="25" /></td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Local net (no login required):') %?></h5></td>
				<td class="col_value"><input type="text" name="LOCAL_NET" value="<?% config.LOCAL_NET %?>" size="20" maxlength="50" /></td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Language:') %?></h5></td>
				<td class="col_value">
<?% IF MY_LOCALES %?>
					<select class="submit" name="LANG">
	<?% FOREACH locale = MY_LOCALES %?>
						<option value="<?% locale.id %?>" <?% IF locale.cur %?>selected="selected"<?% END %?>><?% locale.name %?></option>
	<?% END %?>
					</select>
<?% ELSE %?>
					<input type="text" name="LANG" value="<?% config.LANG %?>" size="20" maxlength="50" />
<?% END %?>
				</td>
			</tr>
			<tr class="<?% tr_class %?>">
				<?% tr_class = (tr_class == "row_odd" ? "row_even" : "row_odd") %?>
				<td class="col_label"><h5><?% gettext('Save settings on exit:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AUTO_SAVE_CONFIG" value="1" id="autosave_yes" <?% IF config.AUTO_SAVE_CONFIG %?>checked="checked"<?% END %?> /><label for="autosave_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AUTO_SAVE_CONFIG" value="0" id="autosave_no" <?% UNLESS config.AUTO_SAVE_CONFIG %?>checked="checked"<?% END %?> /><label for="autosave_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('VDR') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Number of DVB cards:') %?></h5></td>
				<td class="col_value"><input type="text" name="RECORDINGS" value="<?% config.RECORDINGS %?>" size="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to recordings:') %?></h5></td>
				<td class="col_value"><input type="text" name="VIDEODIR" value="<?% config.VIDEODIR %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Path to configuration files:') %?></h5></td>
				<td class="col_value"><input type="text" name="VDRCONFDIR" value="<?% config.VDRCONFDIR %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to EPG images:') %?></h5></td>
				<td class="col_value"><input type="text" name="EPGIMAGES" value="<?% config.EPGIMAGES %?>" size="20" maxlength="256" /></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Identification') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Username:') %?></h5></td>
				<td class="col_value"><input type="text" name="USERNAME" value="<?% config.USERNAME %?>" size="12" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Password:') %?></h5></td>
				<td class="col_value"><input type="password" name="PASSWORD" value="<?% config.PASSWORD %?>" size="12" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Guest Account:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="GUEST_ACCOUNT" value="1" id="guest_yes" <?% IF config.GUEST_ACCOUNT %?>checked="checked"<?% END %?> /><label for="guest_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="GUEST_ACCOUNT" value="0" id="guest_no" <?% UNLESS config.GUEST_ACCOUNT %?>checked="checked"<?% END %?> /><label for="guest_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Guest Username:') %?></h5></td>
				<td class="col_value"><input type="text" name="USERNAME_GUEST" value="<?% config.USERNAME_GUEST %?>" size="12" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Guest Password:') %?></h5></td>
				<td class="col_value"><input type="password" name="PASSWORD_GUEST" value="<?% config.PASSWORD_GUEST %?>" size="12" /></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Timeline') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Hours:') %?></h5></td>
				<td class="col_value"><input type="text" name="ZEITRAHMEN" value="<?% config.ZEITRAHMEN %?>" size="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Times:') %?></h5></td>
				<td class="col_value"><input type="text" name="TIMES" value="<?% config.TIMES %?>" size="20" />&nbsp;&nbsp;&nbsp;<?% gettext('Also used for other EPG views!') %?></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Tooltips:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TL_TOOLTIP" value="1" id="tl_tooltip_yes" <?% IF config.TL_TOOLTIP %?>checked="checked"<?% END %?> /><label for="tl_tooltip_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TL_TOOLTIP" value="0" id="tl_tooltip_no" <?% UNLESS config.TL_TOOLTIP %?>checked="checked"<?% END %?> /><label for="tl_tooltip_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('AutoTimer') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Active:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_FUNC" value="1" id="at_yes" <?% IF config.AT_FUNC %?>checked="checked"<?% END %?> /><label for="at_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_FUNC" value="0" id="at_no" <?% UNLESS config.AT_FUNC %?>checked="checked"<?% END %?> /><label for="at_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Timeout:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_TIMEOUT" value="<?% config.AT_TIMEOUT %?>" size="4" /> <?% gettext('minutes') %?></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Priority:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_PRIORITY" value="<?% config.AT_PRIORITY %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Lifetime:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_LIFETIME" value="<?% config.AT_LIFETIME %?>" size="2" maxlength="2" /></td>
			</tr>
<!--
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Time Margin at Start:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_MARGIN_BEGIN" value="<?% config.AT_MARGIN_BEGIN %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Time Margin at Stop:') %?></h5></td>
				<td class="col_value"><input type="text" name="AT_MARGIN_END" value="<?% config.AT_MARGIN_END %?>" size="2" maxlength="2" /></td>
			</tr>
-->
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Send email after programming timer:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_SENDMAIL" value="1" id="at_sendmail_yes" <?% IF config.AT_SENDMAIL %?>checked="checked"<?% END %?> /><label for="at_sendmail_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_SENDMAIL" value="0" id="at_sendmail_no" <?% UNLESS config.AT_SENDMAIL %?>checked="checked"<?% END %?> /><label for="at_sendmail_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Send email as:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_FROM" value="<?% config.MAIL_FROM %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Send email to:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_TO" value="<?% config.MAIL_TO %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Mail server:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_SERVER" value="<?% config.MAIL_SERVER %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('SMTPAuth user:') %?></h5></td>
				<td class="col_value"><input type="text" name="MAIL_AUTH_USER" value="<?% config.MAIL_AUTH_USER %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('SMTPAuth password:') %?></h5></td>
				<td class="col_value"><input type="password" name="MAIL_AUTH_PASS" value="<?% config.MAIL_AUTH_PASS %?>" size="20" maxlength="100" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Tooltips:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="AT_TOOLTIP" value="1" id="at_tooltip_yes" <?% IF config.AT_TOOLTIP %?>checked="checked"<?% END %?> /><label for="at_tooltip_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="AT_TOOLTIP" value="0" id="at_tooltip_no" <?% UNLESS config.AT_TOOLTIP %?>checked="checked"<?% END %?> /><label for="at_tooltip_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Timer') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Priority:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_PRIORITY" value="<?% config.TM_PRIORITY %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Lifetime:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_LIFETIME" value="<?% config.TM_LIFETIME %?>" size="2" maxlength="2" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Time Margin at Start:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_MARGIN_BEGIN" value="<?% config.TM_MARGIN_BEGIN %?>" size="3" /> <?% gettext('minutes') %?></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Time Margin at Stop:') %?></h5></td>
				<td class="col_value"><input type="text" name="TM_MARGIN_END" value="<?% config.TM_MARGIN_END %?>" size="3" /> <?% gettext('minutes') %?></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Tooltips in timeline:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TM_TT_TIMELINE" value="1" id="tm_tl_timeline_yes" <?% IF config.TM_TT_TIMELINE %?>checked="checked"<?% END %?> /><label for="tm_tl_timeline_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TM_TT_TIMELINE" value="0" id="tm_tl_timeline_no" <?% UNLESS config.TM_TT_TIMELINE %?>checked="checked"<?% END %?> /><label for="tm_tl_timeline_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Tooltips in list:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TM_TT_LIST" value="1" id="tm_tl_list_yes" <?% IF config.TM_TT_LIST %?>checked="checked"<?% END %?> /><label for="tm_tl_list_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TM_TT_LIST" value="0" id="tm_tl_list_no" <?% UNLESS config.TM_TT_LIST %?>checked="checked"<?% END %?> /><label for="tm_tl_list_no"><?% gettext('No') %?></label>
				</td>
			</tr>
<!--						<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Add summary to new timers:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="TM_ADD_SUMMARY" value="1" id="tm_add_summary_yes" <?% IF config.TM_ADD_SUMMARY %?>checked="checked"<?% END %?> /><label for="tm_add_summary_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="TM_ADD_SUMMARY" value="0" id="tm_add_summary_no" <?% UNLESS config.TM_ADD_SUMMARY %?>checked="checked"<?% END %?> /><label for="tm_add_summary_no"><?% gettext('No') %?></label>
				</td>
			</tr>-->
		</table>

<?% IF config.ST_FUNC %?>
		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Streaming') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Live Streaming:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="ST_LIVE_ON" value="1" id="live_yes" <?% IF config.ST_LIVE_ON %?>checked="checked"<?% END %?> /><label for="live_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="ST_LIVE_ON" value="0" id="live_no" <?% UNLESS config.ST_LIVE_ON %?>checked="checked"<?% END %?> /><label for="live_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('HTTP Port of Streamdev (also possible 3000/ts):') %?></h5></td>
				<td class="col_value"><input type="text" name="ST_STREAMDEV_PORT" value="<?% config.ST_STREAMDEV_PORT %?>" size="10" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Recordings Streaming:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="ST_REC_ON" value="1" id="rec_yes" <?% IF config.ST_REC_ON %?>checked="checked"<?% END %?> /><label for="rec_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="ST_REC_ON" value="0" id="rec_no" <?% UNLESS config.ST_REC_ON %?>checked="checked"<?% END %?> /><label for="rec_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Path to VDR Recordings on your workstation:') %?></h5></td>
				<td class="col_value"><input type="text" name="ST_VIDEODIR" value="<?% config.ST_VIDEODIR %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('MIME type for live streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="TV_MIMETYPE" value="<?% config.TV_MIMETYPE %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Suffix for live streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="TV_EXT" value="<?% config.TV_EXT %?>" size="4" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('MIME type for recordings streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="REC_MIMETYPE" value="<?% config.REC_MIMETYPE %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('Suffix for recordings streaming:') %?></h5></td>
				<td class="col_value"><input type="text" name="REC_EXT" value="<?% config.REC_EXT %?>" size="4" maxlength="256" /></td>
			</tr>
<!-- not (yet?) supported 
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Bandwidth of Streams:') %?></h5></td>
				<td class="col_value">
					<select class="submit" name="STREAMTYPE">
<?% FOREACH streamtype = STREAMTYPELIST %?>
						<option value="<?% streamtype.name %?>" <?% IF streamtype.sel %?>selected="selected"<?% END %?>><?% streamtype.name %?></option>
<?% END %?>
					</select>
				</td>
			</tr>
-->
		</table>
<?% END %?>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="2"><h2><?% gettext('Expert') %?></h2></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('Read EPG directly using epg.data:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="EPG_DIRECT" value="1" id="epg_yes" <?% IF config.EPG_DIRECT %?>checked="checked"<?% END %?> /><label for="epg_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="EPG_DIRECT" value="0" id="epg_no" <?% UNLESS config.EPG_DIRECT %?>checked="checked"<?% END %?> /><label for="epg_no"><?% gettext('No') %?></label>
				</td>
			</tr>
			<tr class="row_even">
				<td class="col_label"><h5><?% gettext('epg.data filename:') %?></h5></td>
				<td class="col_value"><input type="text" name="EPG_FILENAME" value="<?% config.EPG_FILENAME %?>" size="20" maxlength="256" /></td>
			</tr>
			<tr class="row_odd">
				<td class="col_label"><h5><?% gettext('VFAT:') %?></h5></td>
				<td class="col_value">
					<input type="radio" name="VDRVFAT" value="1" id="vfat_yes" <?% IF config.VDRVFAT %?>checked="checked"<?% END %?> /><label for="vfat_yes"><?% gettext('Yes') %?></label>
					<input type="radio" name="VDRVFAT" value="0" id="vfat_no" <?% UNLESS config.VDRVFAT %?>checked="checked"<?% END %?> /><label for="vfat_no"><?% gettext('No') %?></label>
				</td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td colspan="3"><h2><?% gettext('Channel Selections') %?></h2></td>
			</tr>
						<tr class="row_odd">
							<td class="col_label"><h5><?% gettext('In "Timeline"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_TIMELINE" value="1" id="tl_yes" <?% IF config.CHANNELS_WANTED_TIMELINE %?>checked="checked"<?% END %?> /><label for="tl_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_TIMELINE" value="0" id="tl_no" <?% UNLESS config.CHANNELS_WANTED_TIMELINE %?>checked="checked"<?% END %?> /><label for="tl_no"><?% gettext('No') %?></label>
							</td>
						</tr>
						<tr class="row_even">
							<td class="col_label"><h5><?% gettext('In "Channels"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_PRG" value="1" id="prg_yes" <?% IF config.CHANNELS_WANTED_PRG %?>checked="checked"<?% END %?> /><label for="prg_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_PRG" value="0" id="prg_no"<?% UNLESS config.CHANNELS_WANTED_PRG %?>checked="checked"<?% END %?> /><label for="prg_no"><?% gettext('No') %?> </label>
							</td>
						</tr>
						<tr class="row_odd">
							<td class="col_label"><h5><?% gettext('In "Playing Today"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_PRG2" value="1" id="prg2_yes" <?% IF config.CHANNELS_WANTED_PRG2 %?>checked="checked"<?% END %?> /><label for="prg2_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_PRG2" value="0" id="prg2_no"<?% UNLESS config.CHANNELS_WANTED_PRG2 %?>checked="checked"<?% END %?> /><label for="prg2_no"><?% gettext('No') %?> </label>
							</td>
						</tr>
						<tr class="row_even">
							<td class="col_label"><h5><?% gettext('In "What\'s On Now"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_SUMMARY" value="1" id="sum_yes" <?% IF config.CHANNELS_WANTED_SUMMARY %?>checked="checked"<?% END %?> /><label for="sum_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_SUMMARY" value="0" id="sum_no" <?% UNLESS config.CHANNELS_WANTED_SUMMARY %?>checked="checked"<?% END %?> /><label for="sum_no"><?% gettext('No') %?></label>
							</td>
						</tr>
						<tr class="row_odd">
							<td class="col_label"><h5><?% gettext('In "AutoTimer"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_AUTOTIMER" value="1" id="wat_yes" <?% IF config.CHANNELS_WANTED_AUTOTIMER %?>checked="checked"<?% END %?> /><label for="wat_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_AUTOTIMER" value="0" id="wat_no" <?% UNLESS config.CHANNELS_WANTED_AUTOTIMER %?>checked="checked"<?% END %?> /><label for="wat_no"><?% gettext('No') %?></label>
							</td>
						</tr>
						<tr class="row_even">
							<td class="col_label"><h5><?% gettext('In "Watch TV"?') %?></h5></td>
							<td class="col_value" colspan="2">
								<input type="radio" name="CHANNELS_WANTED_WATCHTV" value="1" id="wtv_yes" <?% IF config.CHANNELS_WANTED_WATCHTV %?>checked="checked"<?% END %?> /><label for="wtv_yes"><?% gettext('Yes') %?></label>
								<input type="radio" name="CHANNELS_WANTED_WATCHTV" value="0" id="wtv_no" <?% UNLESS config.CHANNELS_WANTED_WATCHTV %?>checked="checked"<?% END %?> /><label for="wtv_no"><?% gettext('No') %?></label>
							</td>
						</tr>
						<tr class="row_odd">
							<td class="col_channels">
								<select name="all_channels" size="8" multiple class="channels">
<?% FOREACH chan = ALL_CHANNELS %?>
									<option value="<?% chan.vdr_id %?>"><?% chan.name | html %?></option>
<?% END %?>
								</select>
							</td>
							<td>
								<input type="submit" class="submit" name="submit" value="&gt;&gt;&gt;&gt;&gt;" /><br />
								<input type="submit" class="submit" name="submit" value="&lt;&lt;&lt;&lt;&lt;" />
							</td>
							<td class="col_wanted_channels">
								<select name="selected_channels" size="8" multiple class="channels">
<?% FOREACH chan = SELECTED_CHANNELS %?>
									<option value="<?% chan.vdr_id %?>"><?% chan.name | html %?></option>
<?% END %?>
								</select>
							</td>
						</tr>
		</table>

		<div id="buttons">
			<input type="submit" class="submit" name="save" value="<?% gettext('Save') %?>" />
			<input type="submit" class="submit" name="apply" value="<?% gettext('Apply') %?>" />
		</div>
		<input type="hidden" name="aktion" value="config" />
	</form>
</body>

</html>
