<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>"/>
	<title><%! Error! !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css"/>
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css"/>
	</tmpl_if>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="error">
	<div align="center">
		<img src="bilder/sauerei.gif" height="230" width="177" border="0"/>
		<br/>
		<h2><tmpl_var name="error"></h2>
	</div>
</body>

</html>
