<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>"/>
	<title><?% gettext('Error!') %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css"/>
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css"/>
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="error">
	<div align="center">
		<img src="bilder/sauerei.gif" height="230" width="177" border="0" alt="" />
		<br/>
		<h2><?% error %?></h2>
	</div>
</body>

</html>
