<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<%! ISO-8859-1 !%>" />
	<title><%! Recordings !%></title>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
</head>

<body id="rec_list" class="help" onload="window.focus()">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="help" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td><h2><%! Recordings !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td>
				<%! <p>Here you will find a listing of recordings known to VDR. The headline will also show you VDR's total and free disk space.</p>
				<p>The listing showing you some information on the recordings. You can change the list's sorting by clicking the columns heading. Above the list you'll see the navigation path. If you want to view the contents of previous folders you'll have to click on its name in that path.</p>
				<p>Each row contains this information:
					<dl>
						<dt>Date</dt>
						<dd>The date when the recording has been done. In case of folders this will show the number of recordings the folder contains.</dd>
						<dt>Time</dt>
						<dd>The time when the recording has been done. In case of folders this will show the number of <strong>new</strong> recordings the folder contains.</dd>
						<dt>Name</dt>
						<dd>The recording's or folder's name. Click it to show the recording's summary or descend into the folder.</dd>
						<dt>Rename (<img src="bilder/edit.png" alt="edit" />)</dt>
						<dd>Rename a recording.<br /><h4>Note:</h4>This only works if VDR has the <u>RENR</u> SVDRPort command which is no core VDR feature but is available through a patch. <span class="ref_file">vdr-aio21_svdrprename.patch</span> or <span class="ref_file">enAIO-v2.2+</span> provide this command.</dd>
						<dt>Delete (<img src="bilder/delete.png" alt="delete" />)</dt>
						<dd>Delete a recording.</dd>
						<dt>Stream (<img src="bilder/stream.png" alt="stream" />)</dt>
						<dd>This column is only shown if you activated and configured <span class="ref_label">Recordings Streaming</span> in the <span class="ref_menu">Configuration</span> menu. You can watch the recording at your workstation.</dd>
					</dl>
				</p>
				<p>In addition to these functions you can delete a number of recordings at once by checking the box in the last but one column of those recordings and clicking <input type="submit" class="submit" value="Delete Selected Recordings"/>.</p>
				<p>If you've set the path the VDR's configuration files and have entries in VDR's <span class="ref_file">reccmds.conf</span> you can run those commands for the selected recording by selecting the wanted command in the select box locate next to <span class="ref_label">Commands:</span> and pressing the <input type="submit" class="submit" value="Run"/> button.</p>
				<p>Use <input type="submit" class="submit" value="Refresh"/> to force reloading of VDR's recordings listing.</p> !%>
			</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
	</table>
</body>

</html>
