<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title><%! No Help Available !%></title>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
</head>

<body id="timer_list">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="help" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td><h2><%! No Help Available !%></h2></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td>
				<%! <p>No help available yet. For adding or changing text please contact <a href="mailto:mail@andreas.vdr-developer.org">mail@andreas.vdr-developer.org</a>.</p> !%>
			</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
	</table>
</body>

</html>
