<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title><%! AutoTimer !%></title>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
</head>

<body id="at_timer_list">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="help">
		<tr height="30">
			<td width="30" height="30"><img src="bilder/uebersicht_oben_links.gif" alt="" width="30" height="30" border="0" /></td>
			<td height="30" valign="middle" background="bilder/uebersicht_oben.gif">
				<h2><%! AutoTimer !%></h2>
			</td>
			<td width="30" height="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" width="30" height="30" border="0" /></td>
		</tr>
		<tr>
			<td width="30" background="bilder/uebersicht_links.gif"></td>
			<td background="bilder/uebersicht_mitte.gif">
				<p>Here you will find a listing of automatic timers known to VDRAdmin.</p>
				<p>The list shows some information on automatic timers. You can change the list's sorting by clicking the columns heading.</p>
				<p>For each AutoTimer you have the following options:
					<dl>
						<dt>Set its state</dt>
						<dd>By clicking on "Yes" or "No" in the "Active" column to toggle the activity.</dd>
						<dt>Quickly view its priority and lifetime</dt>
						<dd>By pointing the mouse cursor to the timer's title.</dd>
						<dt>Edit the AutoTimer</dt>
						<dd>You can edit an AutoTimer by clicking <img src="bilder/edit.gif" alt="Stift" />.</dd>
						<dt>Delete the AutoTimer</dt>
						<dd>To delete an AutoTimer you click <img src="bilder/delete.gif" alt="Radiergummi" />.</dd>
					</dl>
				</p>
				<p>Each AutoTimer's state is indicated by differently coloured images:<br />
					<img src="bilder/poempl_gruen.gif" alt="on" align="absmiddle" /> AutoTimer is OK and will automatically program matching broadcasts.<br />
					<img src="bilder/poempl_grau.gif" alt="inactive" align="absmiddle" /> AutoTimer is not active.
				</p>
				<p>In addition to these functions you can add a new AutoTimer by clicking "New AutoTimer" at the top and you can delete a number of AutoTimers at once by checking the box in the last column of those timers and clicking "Delete Selected AutoTimers".</p>
				<p>Click "Force Update" to force VDRAdmin to reconnect to VDR, fetch the current EPG and check for matching AutoTimers.</p>
			</td>
			<td width="30" background="bilder/uebersicht_rechts.gif"></td>
		</tr>
		<tr>
			<td width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" width="30" height="30" border="0" /></td>
			<td background="bilder/uebersicht_unten.gif"></td>
			<td width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" width="30" height="30" border="0" /></td>
		</tr>
	</table>
</body>

</html>
