<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title>VDRAdmin <tmpl_var version> (<tmpl_var host>)</title>
	<link href="bilder/favicon.ico" rel="shortcut icon" />
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<frameset border="0" cols="165,*" frameborder="no" framespacing="0">
	<frame name="nav" noresize src="left.html" />
	<frame name="main" noresize src="<tmpl_var loginpage>" />

	<noframes>
		<body>
			<p><%! Your Browser does not support frames! !%></p>
		</body>
	</noframes>
</frameset>

</html>
