<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% charset %?>" />
	<title>VDRAdmin-AM <?% version %?> (<?% host %?>)</title>
	<link href="favicon.ico" rel="shortcut icon" />
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<frameset border="0" cols="155,*" frameborder="no" framespacing="0">
	<frame name="nav" noresize="noresize" src="navigation.html" />
	<frame name="main" noresize="noresize" src="<?% loginpage %?>" />

	<noframes>
		<body>
			<p><?% gettext('Your Browser does not support frames!') %?></p>
		</body>
	</noframes>
</frameset>

</html>
