<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>" />
	<title>VDRAdmin-AM</title>
	<link type="text/css" href="style.css" rel="stylesheet" media="screen" />
	<?% IF usercss %?>
		<link type="text/css" href="user.css" rel="stylesheet" media="screen" />
	<?% END %?>

	<script type="text/javascript">
		<!--
			function rc_open() {
				window.open("./vdradmin.pl?aktion=rc_show&full_rc=1", "vdradminRC", "width=200, height=510, resizable=no, scrollbars=no, status=no, toolbar=no");
			}
			function tv_open() {
				window.open("./vdradmin.pl?aktion=tv_show&amp;full_tv=1", "vdradminTV", "width=615, height=548, resizable=yes, scrollbars=no, status=no, toolbar=no");
			}
		// -->
	</script>
</head>

<body id="navigation">
	<div class="logo">
		<a href="./" target="_top"><img src="bilder/logo.png" alt="" height="50" width="150" border="0" /></a>
	</div>
	<div class="nav_bar">
		<div class="navi" id="prog_summary">
			<a href="vdradmin.pl?aktion=prog_summary" target="main"><?% gettext('What\'s On Now?') %?></a>
		</div>
		<div class="navi" id="prog_list2">
			<a href="vdradmin.pl?aktion=prog_list2" target="main"><?% gettext('Playing Today?') %?></a>
		</div>
		<div class="navi" id="prog_timeline">
			<a href="vdradmin.pl?aktion=prog_timeline" target="main"><?% gettext('Timeline') %?></a>
		</div>
		<div class="navi" id="prog_list">
			<a href="vdradmin.pl?aktion=prog_list" target="main"><?% gettext('Channels') %?></a>
		</div>
		<div class="navi" id="timer_list">
			<a href="vdradmin.pl?aktion=timer_list" target="main"><?% gettext('Timer') %?></a>
		</div>
<?% IF features.AUTOTIMER %?>
		<div class="navi" id="at_timer_list">
			<a href="vdradmin.pl?aktion=at_timer_list" target="main"><?% gettext('AutoTimer') %?></a>
		</div>
<?% END %?>
<?% IF features.EPGSEARCH %?>
		<div class="navi" id="epgsearch_list">
			<a href="vdradmin.pl?aktion=epgsearch_list" target="main"><?% gettext('EPG Search') %?></a>
		</div>
<?% END %?>
		<div class="navi" id="rec_list">
			<a href="vdradmin.pl?aktion=rec_list" target="main"><?% gettext('Recordings') %?></a>
		</div>
		<div class="navi" id="rc">
			<a href="javascript:rc_open();"><?% gettext('Remote Control') %?></a>
		</div>
		<div class="navi" id="tv">
			<a href="vdradmin.pl?aktion=tv_show&amp;full_tv=1" target="main"><?% gettext('Watch TV') %?></a>
		</div>
		<div class="navi" id="commands">
			<a href="vdradmin.pl?aktion=vdr_cmds" target="main"><?% gettext('Commands') %?></a>
		</div>
		<div class="navi" id="config">
			<a href="vdradmin.pl?aktion=config" target="main"><?% gettext('Configuration') %?></a>
		</div>
		<div class="navi" id="about">
			<a href="vdradmin.pl?aktion=about" target="main"><?% gettext('About') %?> / <?% gettext('Help') %?></a>
		</div>

		<form action="vdradmin.pl" method="get" name="FormName" target="main" class="search">
			<input type="text" name="search" /><br />
			<input type="submit" name="submit" value="<?% gettext('Search') %?>" />
			<input type="hidden" name="aktion" value="prog_summary" />
		</form>
	</div>
</body>
</html>
