*         { font-family: Verdana, Arial, Geneva, Helvetica, sans-serif; }
input     { color: black; font-weight: normal; font-size: 11px; }
td        { color: black; font-size: 11px; }
a         { color: black; font-weight: bold; text-decoration: none }
a:hover   { font-weight: bold; text-decoration: underline }
.navi     { margin-left: 0.5em; font-size: 12px; }
