<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="scroller">

<head>
	<meta http-equiv="refresh" content="600; URL=vdradmin.pl?aktion=prog_summary" />
	<meta http-equiv="content-type" content="text/html;charset=<?% charset %?>" />
	<title>VDRAdmin-AM - <?% gettext('What\'s On Now?') %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript" src="library.js"></script>
</head>

<body id="prog_summary2">
	<form action="<?% url %?>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title">
					<h1><?% title %?></h1>
				</td>
				<td class="col_other">
<?% UNLESS searchresults %?> 
					<?% gettext('Channel group:') %?> 
					<select name="select_wanted_channels" size="1" class="submit" onchange="window.open(this.options[this.selectedIndex].value,'main')">
<?% FOREACH ch_grp = ch_groups %?> 
						<option value="<?% ch_grp.url %?>" <?% IF ch_grp.selected %?>selected="selected"<?% END %?> ><?% ch_grp.title %?></option>
<?% END %?>
					</select>
<?% END %?>
					[<a href="<?% switchview_url %?>"><?% switchview_text %?></a>]
				</td>
<?% IF times.size() > 0 %?>
				<td class="col_other">
					<?% gettext('What\'s on:') %?>&nbsp;
					<select name="select_time" size="1" class="submit" onchange="window.open(this.options[this.selectedIndex].value,'main')">
	<?% FOREACH time = times %?>
						<option value="<?% time.id %?>" <?% IF time.sel %?>selected="selected"<?% END %?>><?% time.name %?></option>
	<?% END %?>
					</select>
					<?% gettext('at') %?>&nbsp;<input type="text" name="time" size="5" value="<?% now | html %?>" />&nbsp;<?% gettext('o\'clock') %?>
				</td>
<?% END %?>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="prog_summary" />

<?% IF error_msg %?>
		<div class="error"><?% error_msg %?></div>
<?% END %?>

<?% IF rows.size > 0 %?>
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="list hilight" id="content">
			<?%
				tr_class = "row_odd";
				olddate = "";
			%?>

	<?% FOREACH broadcast = rows;
		IF broadcast.longdate;
			IF olddate != broadcast.date;
				olddate = broadcast.date; %?>
				<tr class="newday">
					<td colspan="4"><span class="date_long"><?% broadcast.longdate %?></span></td>
				</tr>
			<?% END %?>
			<tr class="<?% tr_class %?>">
				<td class="col_duration">
					<span class="time_duration"><span class="time_start"><?% IF broadcast.start %?><?% broadcast.start %?></span> - <span class="time_stop"><?% broadcast.stop %?><?% END %?></span></span>
					<?% IF broadcast.show_percent %?>
						<table border="0" cellspacing="0" cellpadding="0" class="percent" title="<?% broadcast.elapsed_min %?>min&nbsp;/&nbsp;<?% broadcast.length_min %?>min">
							<tr>
								<td class="elapsed" width="<?% broadcast.percent %?>%"><img src="bilder/spacer.gif" width="1" height="1" alt="" /></td>
								<td class="remaining"><img src="bilder/spacer.gif" width="1" height="1" alt="" /></td>
							</tr>
						</table>
					<?% END %?>
				</td>
				<td class="col_center">
					<div class="epg_title">
						<?% IF broadcast.summary %?>
							<a href="javascript:popup('<?% broadcast.infurl %?>', <?% config.GUI_POPUP_WIDTH %?>, <?% config.GUI_POPUP_HEIGHT %?>);" title="<?% gettext('More Information') %?>">
						<?% END %?>
						<?% broadcast.title %?>
						<?% IF broadcast.summary %?>
							</a>
						<?% END %?>
					</div>
          <div class="epg_subtitle">
<?% IF config.EPG_SUBTITLE %?>
					<?% IF broadcast.subtitle %?>
						<?% broadcast.subtitle %?>
					<?% END %?>
<?% END %?>
<?% IF config.EPG_SUMMARY %?>
					<?% IF broadcast.summary %?>
						<?% broadcast.summary %?>
					<?% END %?>
<?% END %?>
          </div>
				</td>
				<td class="col_channel">
					<a id="<?% broadcast.anchor %?>" name="<?% broadcast.anchor %?>"></a>
					<div class="channel_name"><a href="<?% broadcast.proglink %?>" title="<?% gettext('Channels') %?>"><?% broadcast.progname %?></a></div>
				</td>
				<td class="col_buttons">
					<?% IF broadcast.stream_live_on %?>
						<span class="action stream"><a href="<?% broadcast.streamurl %?>"><img src="bilder/stream.png" border="0" alt="<?% gettext('Stream') %?>" onmouseover="window.status='<?% gettext('Stream') %?>';return true" title="<?% gettext('Stream') %?>" /></a></span>
					<?% END %?>
					<?% IF broadcast.switchurl %?>
						<span class="action switch">
							<a href="javascript:callurl('<?% broadcast.switchurl %?>');"><img src="bilder/view.png" border="0" alt="<?% gettext('TV select') %?>" onmouseover="window.status='<?% gettext('TV select') %?>';return true" title="<?% gettext('TV select') %?>" /></a>
						</span>
					<?% END %?>
					<?% IF broadcast.recurl %?>
						<span class="action repeatings"><a href="vdradmin.pl?search=<?% broadcast.find_title %?>&amp;aktion=prog_summary&amp;submit=go11"><img src="bilder/find.png" border="0" alt="<?% gettext('Search for other show times') %?>" onmouseover="window.status='<?% gettext('Search for other show times') %?>';return true" title="<?% gettext('Search for other show times') %?>" /></a></span>
						<?% IF broadcast.summary %?>
							<span class="action info"><a href="javascript:popup('<?% broadcast.infurl %?>', <?% config.GUI_POPUP_WIDTH %?>, <?% config.GUI_POPUP_HEIGHT %?>);"><img src="bilder/info_button.png" border="0" alt="<?% gettext('More Information') %?>" onmouseover="window.status='<?% gettext('More Information') %?>';return true" title="<?% gettext('More Information') %?>" /></a></span>
						<?% ELSE %?>
							<span class="action info"><img src="bilder/info_button_disabled.png" border="0" alt="noinfo" title="<?% gettext('No Information') %?>" /></span>
						<?% END %?>
						<span class="action edit"><a href="<?% broadcast.editurl %?>"><img src="bilder/edit.png" border="0" alt="<?% gettext('Edit') %?>" onmouseover="window.status='<?% gettext('Edit') %?>';return true" title="<?% gettext('Edit') %?>" /></a></span>
						<?% UNLESS broadcast.timerset %?>
              <span class="action record">
							  <a href="<?% broadcast.recurl %?>"><img src="bilder/rec_button.png" border="0" alt="<?% gettext('Record') %?>" onmouseover="window.status='<?% gettext('Record') %?>';return true" title="<?% gettext('Record') %?>" /></a>
  					  </span>
  					<?% END %?>
						<?% IF broadcast.srch1_url %?>
							<span class="action imdb"><a href="<?% broadcast.srch1_url %?>" target="_blank"><img src="bilder/imdb.png" border="0" alt="IMDb" onmouseover="window.status='<?% broadcast.srch1_url %?>';return true" title="<?% broadcast.srch1_url %?>" /></a></span>
						<?% END %?>
						<?% IF broadcast.srch2_url %?>
							<span class="action imdb"><a href="<?% broadcast.srch2_url %?>" target="_blank"><img src="bilder/udef_search.png" border="0" alt="Search" onmouseover="window.status='<?% broadcast.srch2_title %?>';return true" title="<?% broadcast.srch2_title %?>" /></a></span>
						<?% END %?>
					<?% END %?>
				</td>
			</tr>

			<?% tr_class = (tr_class == "row_odd") ? "row_even" : "row_odd";
		END;
	END %?>
		</table>
<?% ELSE %?>
		<div id="content">
			<div class="warning"><?% gettext('No EPG information available') %?></div>
		</div>
<?% END %?>
	</form>
</body>
</html>
