<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title>VDRAdmin - <%! Playing Today !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<script type="text/javascript" language="JavaScript1.2">
		<!--
		function switch_channel( url ) {
			image = new Image();
			image.src = url;
			document.switchimage.src = image.src;
		}
		//-->
	</script>
</head>

<body id="prog_list">
	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_left"></td>
				<td class="col_title"><h1><tmpl_var title></h1></td>
				<td class="col_other">
					<tmpl_if prevdayurl>
						<a href="<tmpl_var prevdayurl>"><img src="bilder/pfeile_nachlinks.gif" border="0" width="28" height="17" /></a>
					<tmpl_else>
						<img src="bilder/pfeile_nachlinks_soft.gif" border="0" width="28" height="17" />
					</tmpl_if>
					<tmpl_if nextdayurl>
						<a href="<tmpl_var nextdayurl>"><img src="bilder/pfeile_nachrechts.gif" border="0" width="29" height="17" /></a>
					<tmpl_else>
						<img src="bilder/pfeile_nachrechts_soft.gif" border="0" width="29" height="17" />
					</tmpl_if>
				</td>
				<td class="col_right"></td>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="prog_list" />
	</form>

	<div id="content">
<tmpl_loop loop>
	<tmpl_if newd>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
			<tr class="heading">
				<td class="col_left"></td>
				<td colspan="4">
					<h2><tmpl_var title></h2>
					<tmpl_if stream_live_on>
						&nbsp;<a href="<tmpl_var streamurl>" title="<%! Stream !%>">[S]</a>
					</tmpl_if>
				</td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_spacer">
				<td class="col_left"></td>
				<td colspan="4"></td>
				<td class="col_right"></td>
			</tr>
	<tmpl_else>
		<tmpl_unless endd>
			<tr class="<tmpl_if __ODD__>row_odd<tmpl_else>row_even</tmpl_if>">
				<td class="col_left"><a id="<tmpl_var anchor>" name="<tmpl_var anchor>">&nbsp;</a></td>
				<td class="col_duration">
					<tmpl_var emit> - <tmpl_var duration>
				</td>
				<td class="col_title">
					<h3><tmpl_var title></h3>
					<tmpl_if subtitle>
						<h4><tmpl_var subtitle></h4>
					<tmpl_else>
						<br />
					</tmpl_if>
				</td>
				<td class="col_info">
					<tmpl_if infurl><a href="javascript:popup('<tmpl_var infurl>');"><img src="bilder/info_button.gif" border="0" /></a><tmpl_else><img src="bilder/info_button_disabled.gif" border="0" /></tmpl_if>
				</td>
				<td class="col_record">
					<a href="<tmpl_var recurl>"><img src="bilder/rec_button.gif" border="0" /></a>
				</td>
				<td class="col_right"></td>
			</tr>
		</tmpl_unless>
	</tmpl_if>
	<tmpl_if endd>
			<tr class="footer">
				<td class="col_left"></td>
				<td colspan="4"></td>
				<td class="col_right"></td>
			</tr>
		</table>
	</tmpl_if>
</tmpl_loop>
	</div>
</body>

</html>
