<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title><tmpl_var title></title>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
</head>

<body id="prog_detail" onload="window.focus()">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="group">
		<tr class="heading">
			<td class="col_left"></td>
			<td>
				<h2><tmpl_var channel_name><tmpl_if date>&nbsp;|&nbsp;<tmpl_var date>&nbsp;&nbsp;&nbsp;<tmpl_var start>&nbsp;-&nbsp;<tmpl_var stop></tmpl_if></h2>
			</td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_spacer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
		<tr class="row_even">
			<td class="col_left"></td>
			<td>
				<h3><tmpl_var title></h3>
				<tmpl_if subtitle>
					<h4><tmpl_var subtitle></h4>
				</tmpl_if>
				<br />
				<tmpl_var text><br /><br />
				<tmpl_if epgimages>
					<tmpl_loop epgimages>
						<img src="<tmpl_var image>"/>
					</tmpl_loop>
					<br /><br />
				</tmpl_if>
				&nbsp;<a href="javascript:window.close()">[<%! close !%>]</a>
				<tmpl_if date>
					&nbsp;<a href="javascript:callurl('<tmpl_var switchurl>')">[<%! view !%>]</a>
					<tmpl_if recurl>
						&nbsp;<a href="javascript:window.close();opener.location.href='<tmpl_var recurl>'">[<%! record !%>]</a>
					</tmpl_if>
					&nbsp;<a href="vdradmin.pl?search=<tmpl_var find_title>&amp;aktion=prog_summary&amp;submit=go11)"  target="main">[<%! search !%>]</a>
				</tmpl_if>
				<tmpl_if imdburl>
					&nbsp;<a href="<tmpl_var imdburl>" target="_blank" title="<%! Lookup movie in the Internet-Movie-Database (IMDb) !%>">[IMDb]</a>
				</tmpl_if>
			</td>
			<td class="col_right"></td>
		</tr>
		<tr class="footer">
			<td class="col_left"></td>
			<td></td>
			<td class="col_right"></td>
		</tr>
	</table>
</body>

</html>
