<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="scroller">

<head>
	<meta http-equiv="refresh" content="600; URL=vdradmin.pl?aktion=prog_summary" />
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>" />
	<title>VDRAdmin-AM - <?% gettext('What\'s On Now?') %?></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript" src="library.js"></script>
</head>

<body id="prog_summary2">
	<form action="<?% url %?>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title">
					<h1><?% title %?></h1>
				</td>
				<td class="col_other">
					[<a href="<?% switchview_url %?>"><?% switchview_text %?></a>]
				</td>
<?% IF times.size() > 0 %?>
				<td class="col_other">
					<?% gettext('What\'s on:') %?>&nbsp;
					<select name="select_time" size="1" class="submit" onchange="window.open(this.options[this.selectedIndex].value,'main')">
	<?% FOREACH time = times %?>
						<option value="<?% time.id %?>" <?% IF time.sel %?>selected="selected"<?% END %?>><?% time.name %?></option>
	<?% END %?>
					</select>
					<?% gettext('at') %?>&nbsp;<input type="text" name="time" size="5" value="<?% now %?>" />&nbsp;<?% gettext('o\'clock') %?>
				</td>
<?% END %?>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="prog_summary" />

<?% IF rows.size > 0 %?>
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="list hilight" id="content">
			<?%
				tr_class = "row_odd";
				olddate = "";
			%?>

	<?% FOREACH broadcast = rows;
		IF broadcast.longdate;
			IF olddate != broadcast.date;
				olddate = broadcast.date; %?>
				<tr class="newday">
					<td colspan="4"><span class="date_long"><?% broadcast.longdate %?></span></td>
				</tr>
			<?% END %?>
			<tr class="<?% tr_class %?>">
				<td class="col_duration">
					<span class="time_duration"><span class="time_start"><?% broadcast.start %?></span> - <span class="time_stop"><?% broadcast.stop %?></span></span>
					<?% IF broadcast.show_percent %?>
						<table border="0" cellspacing="0" cellpadding="0" class="percent" title="<?% broadcast.elapsed_min %?>min&nbsp;/&nbsp;<?% broadcast.length_min %?>min">
							<tr>
								<td class="elapsed" width="<?% broadcast.percent %?>%"><img src="bilder/spacer.gif" width="1" height="1" alt="" /></td>
								<td class="remaining"><img src="bilder/spacer.gif" width="1" height="1" alt="" /></td>
							</tr>
						</table>
					<?% END %?>
				</td>
				<td class="col_center">
					<div class="epg_title">
						<?% IF broadcast.summary %?>
							<a href="javascript:popup('<?% broadcast.infurl %?>');" title="<?% gettext('More Information') %?>">
						<?% END %?>
						<?% broadcast.title %?>
						<?% IF broadcast.summary %?>
							</a>
						<?% END %?>
					</div>
					<?% IF broadcast.subtitle %?>
						<div class="epg_subtitle"><?% broadcast.subtitle %?></div>
					<?% ELSE %?>
						<div class="epg_subtitle">&nbsp;</div>
					<?% END %?>
				</td>
				<td class="col_channel">
					<a id="<?% broadcast.anchor %?>" name="<?% broadcast.anchor %?>"></a>
					<div class="channel_name"><a href="<?% broadcast.proglink %?>" title="<?% gettext('Channels') %?>"><?% broadcast.progname %?></a></div>
				</td>
				<td class="col_buttons">
					<?% IF broadcast.stream_live_on %?>
						<span class="action stream"><a href="<?% broadcast.streamurl %?>"><img src="bilder/stream.png" border="0" alt="<?% gettext('Stream') %?>" onmouseover="window.status='<?% gettext('Stream') %?>';return true" title="<?% gettext('Stream') %?>" /></a></span>
					<?% END %?>
					<?% IF broadcast.recurl %?>
						<?% IF broadcast.switchurl %?>
							<span class="action switch">
								<a href="javascript:callurl('<?% broadcast.switchurl %?>');"><img src="bilder/view.png" border="0" alt="<?% gettext('TV select') %?>" onmouseover="window.status='<?% gettext('TV select') %?>';return true" title="<?% gettext('TV select') %?>" /></a>
							</span>
						<?% END %?>
						<span class="action repeatings"><a href="vdradmin.pl?search=<?% broadcast.find_title %?>&amp;aktion=prog_summary&amp;submit=go11"><img src="bilder/find.png" border="0" alt="<?% gettext('Search for other show times') %?>" onmouseover="window.status='<?% gettext('Search for other show times') %?>';return true" title="<?% gettext('Search for other show times') %?>" /></a></span>
						<?% IF broadcast.summary %?>
							<span class="action info"><a href="javascript:popup('<?% broadcast.infurl %?>');"><img src="bilder/info_button.png" border="0" alt="<?% gettext('More Information') %?>" onmouseover="window.status='<?% gettext('More Information') %?>';return true" title="<?% gettext('More Information') %?>" /></a></span>
						<?% ELSE %?>
							<span class="action info"><img src="bilder/info_button_disabled.png" border="0" alt="noinfo" title="<?% gettext('No Information') %?>" /></span>
						<?% END %?>
						<span class="action record"><a href="<?% broadcast.recurl %?>"><img src="bilder/rec_button.png" border="0" alt="<?% gettext('Record') %?>" onmouseover="window.status='<?% gettext('Record') %?>';return true" title="<?% gettext('Record') %?>" /></a></span>
						<?% IF broadcast.imdburl %?>
							<span class="action imdb"><a href="<?% broadcast.imdburl %?>" target="_blank"><img src="bilder/imdb.png" border="0" alt="IMDb" onmouseover="window.status='<?% gettext('Lookup movie in the Internet-Movie-Database (IMDb)') %?>';return true" title="<?% gettext('Lookup movie in the Internet-Movie-Database (IMDb)') %?>" /></a></span>
						<?% END %?>
					<?% END %?>
				</td>
			</tr>

			<?% tr_class = (tr_class == "row_odd") ? "row_even" : "row_odd";
		END;
	END %?>
		</table>
<?% ELSE %?>
		<div id="content">
			<div class="warning"><?% gettext('No EPG information available') %?></div>
		</div>
<?% END %?>
	</form>
</body>
</html>
