<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=<?% gettext('ISO-8859-1') %?>" />
	<title>VDRAdmin-AM - <?% gettext('Remote Control') %?> (<?% host %?>)</title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript">
		<!--
    	function switch_channel(url) {
      	Now = new Date();
      	document.switchimage.src = url + "&" + Now.getTime();
    	}
    //-->
	</script>
</head>

<body id="rc" onload="window.focus()">
<?% IF full_rc %?>
	<table height="510" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
<?% END %?> 
	<table width="200" height="510" border="0" cellspacing="0" cellpadding="0" class="rc">
		<tr>
			<td></td>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=power');"><img src="bilder/fern_03.jpg" alt="" height="27" width="68" border="0" /></a></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=1');"><img src="bilder/fern_05.jpg" alt="" height="28" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=2');"><img src="bilder/fern_06.jpg" alt="" height="28" width="66" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=3');"><img src="bilder/fern_07.jpg" alt="" height="28" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=4');"><img src="bilder/fern_08.jpg" alt="" height="28" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=5');"><img src="bilder/fern_09.jpg" alt="" height="28" width="66" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=6');"><img src="bilder/fern_10.jpg" alt="" height="28" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=7');"><img src="bilder/fern_11.jpg" alt="" height="28" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=8');"><img src="bilder/fern_12.jpg" alt="" height="28" width="66" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=9');"><img src="bilder/fern_13.jpg" alt="" height="28" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=0');"><img src="bilder/fern_15.jpg" alt="" height="28" width="66" border="0" /></a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=menu');"><img src="bilder/fern_18.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=back');"><img src="bilder/fern_19.jpg" alt="" height="27" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td colspan="3"><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=red');"><img src="bilder/fern_22.jpg" alt="" height="28" width="50" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=green');"><img src="bilder/fern_23.jpg" alt="" height="28" width="49" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=yellow');"><img src="bilder/fern_24.jpg" alt="" height="28" width="51" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=blue');"><img src="bilder/fern_25.jpg" alt="" height="28" width="50" border="0" /></a></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=up');"><img src="bilder/fern_28.jpg" alt="" height="27" width="66" border="0" /></a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=left');"><img src="bilder/fern_31.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=ok');"><img src="bilder/fern_32.jpg" alt="" height="27" width="66" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=right');"><img src="bilder/fern_33.jpg" alt="" height="27" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=down');"><img src="bilder/fern_36.jpg" alt="" height="27" width="66" border="0" /></a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=rec');"><img src="bilder/fern_41.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=stop');"><img src="bilder/fern_42.jpg" alt="" height="27" width="67" border="0" /></a></td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=fastrew');"><img src="bilder/fern_43.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=play');"><img src="bilder/fern_44.jpg" alt="" height="27" width="66" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=fastfwd');"><img src="bilder/fern_45.jpg" alt="" height="27" width="67" border="0" /></a></td>
		</tr>
		<tr>
      <td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=prev');"><img src="bilder/fern_46.jpg" alt="" height="27" width="67" border="0" /></a></td>
      <td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=pause');"><img src="bilder/fern_47.jpg" alt="" height="27" width="66" border="0" /></a></td>
      <td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=next');"><img src="bilder/fern_48.jpg" alt="" height="27" width="67" border="0" /></a></td>
    </tr>
		<tr>
			<td></td>
			<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
			<td><img src="bilder/spacer.gif" name="switchimage" width="1" height="1" alt="" /> </td>
		</tr>
		<tr>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=VolumeMinus');"><img src="bilder/fern_39.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=mute');"><img src="bilder/fern_mute.jpg" alt="" height="27" width="67" border="0" /></a></td>
			<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=VolumePlus');"><img src="bilder/fern_40.jpg" alt="" height="27" width="67" border="0" /></a></td>
		</tr>
	</table>
<?% IF full_rc %?>
			</td>
			<td id="sect_channels">
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td> 
							<select name="select_wanted_channels" size="1" class="submit" onchange="window.open(this.options[this.selectedIndex].value, '_self')" style="width:100%">
<?% FOREACH ch_grp = ch_groups %?> 
								<option value="<?% ch_grp.url %?>" <?% IF ch_grp.selected %?>selected="selected"<?% END %?> ><?% ch_grp.title %?></option>
<?% END %?>
							</select>
						</td>
					</tr>
					<tr>
						<td> 
							<select name="channel" size="27" onchange="javascript:switch_channel('./vdradmin.pl?aktion=tv_switch&amp;channel=' + encodeURIComponent(this.options[this.selectedIndex].value));" style="width:100%">
<?% FOREACH chan = channels %?>
								<option value="<?% chan.vdr_id %?>" <?% IF chan.cur %?>selected="selected"<?% END %?>><?% chan.name | html %?></option>
<?% END %?>
							</select>
<!--						<a class="submit" href="javascript:switch_by_select();">Switch</a>-->
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
<?% END %?>
</body>
</html>
