<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title>VDRAdmin-AM - <%! Rename Recording !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="rec_edit">
	<form action="<tmpl_var url>" method="get" name="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_left"></td>
				<td class="col_title">
					<h1><%! Rename Recording !%></h1>
				</td>
				<td class="col_right"></td>
			</tr>
		</table>

		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content" class="group">
			<tr class="heading">
				<td class="col_left"</td>
				<td colspan="2"></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_spacer">
				<td class="col_left"></td>
				<td colspan="2"></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_odd">
				<td class="col_left"></td>
				<td class="col_label"><h5><%! Original Name of Recording: !%></h5></td>
				<td class="col_value"><tmpl_var title></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_even">
				<td class="col_left"></td>
				<td class="col_label"><h5><%! New Name of Recording: !%></h5></td>
				<td class="col_value"><input type="text" name="nn" value="<tmpl_var title>" size="55" /></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_odd">
				<td class="col_left"></td>
				<td class="col_label"><tmpl_if subtitle><h5><%! Subtitle: !%></h5></tmpl_if></td>
				<td class="col_value"><tmpl_if subtitle><tmpl_var subtitle></tmpl_if></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_even">
				<td class="col_left"></td>
				<td class="col_label" valign="top"><h5><%! Summary: !%></h5></td>
				<td class="col_value"><tmpl_var text></td>
				<td class="col_right"></td>
			</tr>
			<tr class="footer">
				<td class="col_left"></td>
				<td colspan="2"></td>
				<td class="col_right"></td>
			</tr>
		</table>

		<div id="buttons">
			<input type="submit" class="submit" name="save" value="<%! Rename !%>" />
			<input type="submit" class="submit" name="exit" value="<%! Cancel !%>" />
		</div>
		<input type="hidden" name="aktion" value="rec_rename" /> 
		<input type="hidden" name="id" value="<tmpl_var id>" /> 
		<tmpl_if referer>
			<input type="hidden" name="referer" value="<tmpl_var referer>" />
		</tmpl_if>
	</form>
</body>

</html>
