<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title>VDRAdmin-AM - <%! Recordings !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<tmpl_if usercss>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	</tmpl_if>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="rec_list">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
		<tr>
			<td class="col_left"></td>
			<td class="col_title"><h1><%! Recordings !%></h1></td>
			<td colspan="2" class="col_other">
				<tmpl_if disk_total>
					<%! Total: !%>&nbsp;<tmpl_var minutes_total><%! h !%> &nbsp;(<tmpl_var disk_total>)
					&nbsp;|&nbsp;<%! Free: !%>&nbsp;<tmpl_var minutes_free><%! h !%> &nbsp;(<tmpl_var disk_free>)
				</tmpl_if>
			</td>
<tmpl_if name="help_url">
			<td class="col_help">
				<a href="javascript:open_help('<tmpl_var help_url>');"><img src="bilder/help.gif" border="0" alt="help" title="<%! Help !%>" /></a>
			</td>
</tmpl_if>
			<td class="col_right"></td>
		</tr>
	</table>

	<div id="path">
<tmpl_loop path>
				&gt;&gt;&nbsp;<tmpl_if url><a href="<tmpl_var url>"><tmpl_var name></a><tmpl_else><tmpl_var name></tmpl_if>
</tmpl_loop>
	</div>

	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content" class="list">
			<colgroup>
				<col class="col_left"/>
				<col class="col_date"/>
				<col class="col_time"/>
				<col class="col_name"/>
				<col class="col_edit"/>
				<col class="col_delete"/>
<tmpl_if stream_rec_on>
				<col class="col_stream"/>
</tmpL_if>
				<col class="col_checkbox"/>
				<col class="col_right"/>
			</colgroup>
			<tr class="heading">
				<td class="col_left"></td>
				<td class="col_date <tmpl_if sortbydate>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbydateurl>"><%! Date !%>
							<tmpl_if sortbydate>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_time <tmpl_if sortbytime>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbytimeurl>"><%! Time !%>
							<tmpl_if sortbytime>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_name <tmpl_if sortbyname>selected</tmpl_if>">
					<h2>
						<a href="<tmpl_var sortbynameurl>"><%! Name !%>
							<tmpl_if sortbyname>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td class="col_edit"></td>
				<td class="col_delete"></td>
<tmpl_if stream_rec_on>
				<td class="col_stream"></td>
</tmpl_if>
				<td class="col_checkbox"><input type="checkbox" name="SELALL" value="SELALL" onclick="AllMessages(this.form);" title="<%! Select all/none !%>" /></td>
				<td class="col_right"></td>
			</tr>
			<tr class="row_spacer">
				<td class="col_left"></td>
				<td class="col_date <tmpl_if sortbydate>selected</tmpl_if>"></td>
				<td class="col_time <tmpl_if sortbytime>selected</tmpl_if>"></td>
				<td class="col_name <tmpl_if sortbyname>selected</tmpl_if>"></td>
				<td colspan="<tmpl_if stream_rec_on>4<tmpl_else>3</tmpl_if>"></td>
				<td class="col_right"></td>
			</tr>

<tmpl_loop recloop>
			<tr class="<tmpl_if __ODD__>row_odd<tmpl_else>row_even</tmpl_if>">
				<td class="col_left"></td>
				<td class="col_date <tmpl_if sortbydate>selected</tmpl_if>">
					<span class="date"><tmpl_var date></span>
					<tmpl_if isfolder><span class="total"><%! Total !%></span></tmpl_if>
				</td>
				<td class="col_time <tmpl_if sortbytime>selected</tmpl_if>">
					<span class="time"><tmpl_var time></span>
					<span class="new">
						<tmpl_if isfolder>
							<%! New !%>
						<tmpl_else>
							<tmpl_if new>
								<%! New !%>
							</tmpl_if>
						</tmpl_if>
					</span>
				</td>
				<td class="col_name <tmpl_if sortbyname>selected</tmpl_if>">
					<tmpl_if isfolder>
						<a href="<tmpl_var infurl><tmpl_var cur_sorting>"><img align="middle" src="bilder/folder_video.gif" border="0" />&nbsp;<tmpl_var name></a>
					<tmpl_else>
						<a href="javascript:popup('<tmpl_var infurl>');"><img align="middle" src="bilder/aktion.gif" border="0" />&nbsp;<tmpl_var name></a>
					</tmpl_if>
				</td>
				<td class="col_edit">
					<tmpl_unless isfolder>
						<a href="<tmpl_var editurl><tmpl_var cur_sorting>"><img src="bilder/edit.gif" alt="rename" title="<%! Rename !%>" height="17" width="17" border="0" /></a>
					</tmpl_unless>
				</td>
				<td  class="col_delete">
					<tmpl_unless isfolder>
						<a href="javascript:del('<%! Delete recording? !%>\n\n&quot;<tmpl_var name_js>&quot;', '<tmpl_var delurl><tmpl_var cur_sorting>');"><img src="bilder/delete.gif" alt="delete" title="<%! Delete !%>" height="17" width="17" border="0" /></a>
					</tmpl_unless>
				</td>
<tmpl_if stream_rec_on>
				<td class="col_stream">
					<tmpl_unless isfolder>
						<a href="<tmpl_var streamurl>"><img src="bilder/stream.gif" alt="stream" title="<%! Stream !%>" height="17" border="0" /></a>
					</tmpl_unless>
				</td>
</tmpl_if>
				<td class="col_checkbox">
					<tmpl_unless isfolder><input type="checkbox" name="xxxx_<tmpl_var id>" /></tmpl_unless>
				</td>
				<td class="col_right"></td>
			</tr>
</tmpl_loop>

			<tr class="footer">
				<td class="col_left"></td>
				<td class="col_date <tmpl_if sortbydate>selected</tmpl_if>"></td>
				<td class="col_time <tmpl_if sortbytime>selected</tmpl_if>"></td>
				<td class="col_name <tmpl_if sortbyname>selected</tmpl_if>"></td>
				<td colspan="<tmpl_if stream_rec_on>4<tmpl_else>3</tmpl_if>"></td>
				<td class="col_right"></td>
			</tr>
		</table>

		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="buttons">
			<tr>
				<td align="left">
					<input type="submit" class="submit" name="rec_update" value="<%! Refresh !%>" />
				</td>
<tmpl_if reccmds>
				<td align="center">
					<%! Commands: !%>
					<select name="rec_cmd" class="submit">
	<tmpl_loop reccmds>
						<option value="<tmpl_var id>"><tmpl_var title></option>
	</tmpl_loop>				
					</select>
					<input type="submit" class="submit" name="rec_runcmd" value="<%! Run !%>" onclick="return confirm('<%! Really run this command? !%>')" />
				</td>
</tmpl_if>
				<td align="right">
					<input type="submit" class="submit" name="rec_delete" value="<%! Delete Selected Recordings !%>" onclick="return mdel('<%! Delete all selected recordings? !%>');" />
				</td>
		</table>
		<input type="hidden" name="aktion" value="rec_delete" />
	</form>
</body>
</html>
