<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;<%! charset=ISO-8859-1 !%>" />
	<title>VDRAdmin - <%! Recordings !%></title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body id="rec_list">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" height="39" id="heading">
		<tr>
			<td valign="middle" width="300" background="bilder/nav_button_back.gif">
				<h1><%! Recordings !%></h1>
			</td>
			<td colspan="2" align="right" background="bilder/nav_button_back_mitte.gif">&nbsp;
				<tmpl_if disk_total>
					<%! Total: !%>&nbsp;<tmpl_var minutes_total><%! h !%> &nbsp;(<tmpl_var disk_total>)
					&nbsp;|&nbsp;<%! Free: !%>&nbsp;<tmpl_var minutes_free><%! h !%> &nbsp;(<tmpl_var disk_free>)
				</tmpl_if>
				&nbsp;
			</td>
<tmpl_if name="help_url">
			<td align="right" width="35" background="bilder/nav_button_back_mitte.gif">
				<a href="javascript:open_help('<tmpl_var help_url>');"><img src="bilder/help.gif" border="0" align="right" valign="top" alt="help" title="<%! Help !%>" /></a>
			</td>
</tmpl_if>
			<td width="15" background="bilder/nav_button_back_end.gif"></td>
		</tr>
	</table>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="path">
		<tr>
			<td>
				&nbsp;
<tmpl_loop path>
				&gt;&gt;&nbsp;<tmpl_if url><a href="<tmpl_var url>"><tmpl_var name></a><tmpl_else><tmpl_var name></tmpl_if>
</tmpl_loop>
			</td>
		</tr>
	</table>

	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content">
			<tr class="list_heading">
				<td valign="top" width="30"><img src="bilder/uebersicht_oben_links.gif" alt="" height="30" width="30" border="0" /></td>
				<td colspan="2" background="bilder/uebersicht_oben<tmpl_if sortbydate>_selected</tmpl_if>.gif">
					<h2>
						<a href="<tmpl_var sortbydateurl>"><%! Date !%>
							<tmpl_if sortbydate>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td colspan="2" background="bilder/uebersicht_oben<tmpl_if sortbytime>_selected</tmpl_if>.gif">
					<h2>
						<a href="<tmpl_var sortbytimeurl>"><%! Time !%>
							<tmpl_if sortbytime>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td background="bilder/uebersicht_oben<tmpl_if sortbyname>_selected</tmpl_if>.gif">
					<h2>
						<a href="<tmpl_var sortbynameurl>"><%! Name !%>
							<tmpl_if sortbyname>
								<img src="bilder/sortiert_<tmpl_if desc>desc<tmpl_else>asc</tmpl_if>.gif" alt="" width="9" height="11" border="0" />
							<tmpl_else>
								<img src="bilder/spacer.gif" alt="" width="9" height="11" border="0" />
							</tmpl_if>
						</a>
					</h2>
				</td>
				<td width="30" background="bilder/uebersicht_oben.gif"></td>
				<td width="30" background="bilder/uebersicht_oben.gif"></td>
				<td width="30" align="center" background="bilder/uebersicht_oben.gif"><input type="checkbox" name="SELALL" value="SELALL" onclick="AllMessages(this.form);" title="<%! Select all/none !%>" /></td>
<tmpl_if stream_rec_on>
				<td width="70" background="bilder/uebersicht_oben.gif"></td>
</tmpl_if>
				<td width="30"><img src="bilder/uebersicht_oben_rechts.gif" alt="" height="30" width="30" border="0" /></td>
			</tr>

<tmpl_loop recloop>
			<tr height="25" class="list_row">
				<td width="30" height="22" background="bilder/uebersicht_links<tmpl_if __ODD__>_dark</tmpl_if>.gif"></td>
				<td valign="top" align="right" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbydate>_selected</tmpl_if>.gif" class="date">
					<div><tmpl_var date></div>
				</td>
				<td valign="top" align="left" width="10" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbydate>_selected</tmpl_if>.gif" class="total">
					<div>
						<tmpl_if isfolder> <%! Total !%></tmpl_if>
					</div>
				</td>
				<td valign="top" align="right" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbytime>_selected</tmpl_if>.gif" class="time">
					<div><tmpl_var time></div>
				</td>
				<td valign="top" width="10" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbytime>_selected</tmpl_if>.gif" class="new">
					<div>
						<tmpl_if isfolder>
							<%! New !%>
						<tmpl_else>
							<tmpl_if new>
								<%! New !%>
							</tmpl_if>
						</tmpl_if>
					</div>
				</td>
				<td valign="top" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if><tmpl_if sortbyname>_selected</tmpl_if>.gif" class="name">
					<div>
						<tmpl_if isfolder>
							<img align="absmiddle" src="bilder/folder.gif" border="0" />&nbsp;
							<a href="<tmpl_var infurl>"><tmpl_var name></a>
						<tmpl_else>
							<a href="javascript:popup('<tmpl_var infurl>');"><tmpl_var name></a>
						</tmpl_if>
					</div>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif" class="edit">
					<div>
						<tmpl_unless isfolder>
							<a href="<tmpl_var editurl>"><img src="bilder/edit.gif" alt="rename" title="<%! Rename !%>" height="17" width="17" border="0" /></a>
						</tmpl_unless>
					</div>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif" class="delete">
					<div>
						<tmpl_unless isfolder>
							<a href="javascript:del('<%! Delete recording? !%>', '<tmpl_var delurl>');"><img src="bilder/delete.gif" alt="delete" title="<%! Delete !%>" height="17" width="17" border="0" /></a>
						</tmpl_unless>
					</div>
				</td>
				<td align="center" valign="top" width="30" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif" class="checkbox">
					<div>
						<tmpl_unless isfolder><input type="checkbox" name="xxxx_<tmpl_var id>" /></tmpl_unless>
					</div>
				</td>
<tmpl_if stream_rec_on>
				<td align="center" valign="top" width="70" background="bilder/uebersicht_mitte<tmpl_if __ODD__>_dark</tmpl_if>.gif" class="stream">
					<div>
						<tmpl_unless isfolder>
							<a href="<tmpl_var streamurl>"><img src="bilder/stream.jpg" alt="stream" title="<%! Stream !%>" height="17" border="0" /></a>
						</tmpl_unless>
					</div>
				</td>
</tmpl_if>
				<td width="30" background="bilder/uebersicht_rechts<tmpl_if __ODD__>_dark</tmpl_if>.gif"></td>
			</tr>
</tmpl_loop>

			<tr>
				<td valign="top" width="30"><img src="bilder/uebersicht_unten_links.gif" alt="" height="30" width="30" border="0" /></td>
				<td colspan="<tmpl_if stream_rec_on>9<tmpl_else>8</tmpl_if>" background="bilder/uebersicht_unten.gif"></td>
				<td valign="top" width="30"><img src="bilder/uebersicht_unten_rechts.gif" alt="" height="30" width="30" border="0" /></td>
			</tr>
			<tr>
				<td width="30"></td>
				<td colspan="<tmpl_if stream_rec_on>9<tmpl_else>8</tmpl_if>" align="right"><br />
<tmpl_if reccmds>
					<%! Commands: !%>
					<select name="rec_cmd" class="submit">
	<tmpl_loop reccmds>
						<option value="<tmpl_var id>"><tmpl_var title></option>
	</tmpl_loop>				
					</select>
					<input type="submit" class="submit" name="rec_runcmd" value="<%! Run !%>" onclick="confirm(<%! Really run this command? !%>)" />
</tmpl_if>
<!--
					<table border="0" cellspacing="0" cellpadding="0">
						<tr height="20">
							<td width="12" height="20" background="bilder/gbutton_left.gif"></td>
							<td align="center" height="20" background="bilder/gbutton_middle.gif">
								<a href="javascript:mdel('<%! Delete all selected recordings? !%>');"><div class="gbutton"><%! Delete Selected Recordings !%></div></a>
							</td>
							<td width="12" height="20" background="bilder/gbutton_right.gif"></td>
						</tr>
					</table>
-->
					<input type="submit" class="submit" name="rec_delete" value="<%! Delete Selected Recordings !%>" onclick="mdel('<%! Delete all selected recordings? !%>');" />
				</td>
				<td valign="top" width="30"></td>
			</tr>
		</table>
		<input type="hidden" name="aktion" value="rec_delete" />
	</form>
</body>
</html>
