<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
	<title>VDRAdmin - Toolbar</title>
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
</head>

<body bgcolor="#ffffff">
	<form action="<tmpl_var url>" method="get" name="FormName">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<select name="vdr_id" size="1" onchange="window.open('<tmpl_var url>?aktion=prog_list&vdr_id=' + this.options[this.selectedIndex].value,'main')">
<tmpl_loop chanloop>
						<option value="<tmpl_var vdr_id>" <tmpl_if current>selected</tmpl_if>><tmpl_var name></option>
</tmpl_loop>
					</select>
					&nbsp;<input type="submit" name="submit" value="Go!" />
					<input type="hidden" name="aktion" value="prog_list" />
				</td>
			</tr>
		</table>
	</form>
</body>

</html>
