<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="scroller">

<head>
	<title>VDRAdmin-AM - <?% gettext('TV') %?> (<?% host %?>)</title>
	<meta http-equiv="Content-Type" content="text/html;charset=<?% charset %?>" />
	<link href="style.css" rel="stylesheet" media="screen" type="text/css" />
	<?% IF usercss %?>
		<link href="user.css" rel="stylesheet" media="screen" type="text/css" />
	<?% END %?>
	<script type="text/javascript" language="JavaScript1.2" src="library.js"></script>
	<script type="text/javascript" language="JavaScript">
		<!--
		var timeout;
		var interval = <?% interval %?>;
		var tmpImage = new Image();
		<?% IF full_tv %?>
			var size = "<?% size %?>";
		<?% ELSE %?>
			var size = "half";
		<?% END %?>

		function switch_by_select() {
			for (i = 0; i < document.forms[0].channel.length; ++i)
				if (document.forms[0].channel.options[i].selected == true)
				{
					switch_channel('./vdradmin.pl?aktion=tv_switch&channel=' + encodeURIComponent(document.forms[0].channel.options[i].value));
					return;
				}
		}

		function switch_channel(url) {
			v_Stop();
			Now = new Date();
			document.switchimage.src = url + "&rand=" + Now.getTime();
      timeout = window.setTimeout("WebcamUpdate()", 500);
		}

		function WebcamUpdate() {
			Before = new Date();
			tmpImage.src = "<?% url %?>&size=" + size + "&interval=" + interval + "&rand=" + Before.getTime();
			//TODO: wait until (tmpImage.complete == true)?
			document.Bild.src = tmpImage.src;
      document.getElementById('sect_tv').style.width = (size == 'full' ? 1920 : (size == 'half' ? 960 : 480)) + "px";
			if(interval > 0) {
				After = new Date();
				wait_sec = (interval * 1000) - (After - Before);
				timeout = window.setTimeout("WebcamUpdate()", wait_sec > 0 ? wait_sec : 0);
			}
		}

		function v_Stop() {
			window.clearTimeout(timeout);
		}

		function v_changeInterval(val) {
			interval = val;
			v_Stop();
			if(interval > 0) {
			  WebcamUpdate();
			};
		}

		function v_changeSize(val) {
			size = val;
			v_Stop();
			WebcamUpdate();
		}

		function tv_open() {
			width = (size == 'full' ? 1920 : (size == 'half' ? 960 : 480)) + 350;
			height = (size == 'full' ? 1080 : 520) + 60;
	 		window.open("./vdradmin.pl?aktion=tv_show&new_win=1&full_tv=1", "vdradminTV", "width=" + width + ", height=" + height + ", resizable=yes, scrollbars=no, status=no, toolbar=no, menubar=no, location=no");
		}
		//-->
	</script>
</head>

<body onload="window.focus();WebcamUpdate()" id="tv"> 
	<form action="<?% url %?>" method="get" name="liveform">
<?% IF full_tv %?>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="heading">
			<tr>
				<td class="col_title"><h1><?% gettext('TV') %?></h1></td>
				<td class="col_other">
					<h5><?% gettext('Interval:') %?></h5>
					<select name="Seconds" class="submit" onchange="v_changeInterval(this.options[this.selectedIndex].value)">
						<option value="0"><?% gettext('off') %?></option>
						<option value="1" <?% IF interval == 1 %?>selected="selected"<?% END %?>> 1 <?% gettext('sec.') %?></option>
						<option value="2" <?% IF interval == 2 %?>selected="selected"<?% END %?>> 2 <?% gettext('sec.') %?></option>
						<option value="3" <?% IF interval == 3 %?>selected="selected"<?% END %?>> 3 <?% gettext('sec.') %?></option>
						<option value="5" <?% IF interval == 5 %?>selected="selected"<?% END %?>> 5 <?% gettext('sec.') %?></option>
						<option value="10" <?% IF interval == 10 %?>selected="selected"<?% END %?>>10 <?% gettext('sec.') %?></option>
						<option value="30" <?% IF interval == 30 %?>selected="selected"<?% END %?>>30 <?% gettext('sec.') %?></option>
						<option value="60" <?% IF interval == 60 %?>selected="selected"<?% END %?>>60 <?% gettext('sec.') %?></option>
					</select>
					<input type="button" class="submit" name="livebild" value='<?% gettext('G') %?>' title="<?% gettext('Grab the picture!') %?>" onclick="WebcamUpdate()" />
					&nbsp;&nbsp;<h5><?% gettext('Size:') %?></h5>
					<select name="Size" class="submit" onchange="v_changeSize(this.options[this.selectedIndex].value)">
						<option value="full" <?% IF size == 'full' %?>selected="selected"<?% END %?>>1:1</option>
						<option value="half" <?% IF size == 'half' %?>selected="selected"<?% END %?>>1:2</option>
						<option value="quarter" <?% IF size == 'quarter' %?>selected="selected"<?% END %?>>1:4</option>
					</select>
					<input type="button" class="submit" name="livebild" value='<?% gettext('G') %?>' title="<?% gettext('Grab the picture!') %?>" onclick="WebcamUpdate()" />
				</td>
				<td align="right"><?% UNLESS new_win %?>[<a class="submit" href="javascript:tv_open();"><?% gettext('Open in separate window') %?></a>]&nbsp;&nbsp;<?% END %?></td>
			</tr>
		</table>
<?% END %?>

<?% IF error_msg %?>
		<div class="error"><?% error_msg %?></div>
<?% END %?>

		<table border="0" cellspacing="0" cellpadding="0" id="content">
			<tr>
        <td id="sect_tv" style="width:<?% IF size == 'full' %?>780<?% ELSE %?><?% IF size == 'half' %?>400<?% ELSE %?>210<?% END %?><?% END %?>px;" align="center">
					<img name="Bild" src="<?% url %?>" border="1" hspace="2" vspace="2" class="tv" alt="" />
					<img src="bilder/spacer.gif" name="switchimage" width="2" height="1" alt="" />
				</td>
<?% IF full_tv %?>
				<td id="sect_rc" valign="top">
					<table width="200" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td></td>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=power');"><img src="bilder/fern_03.jpg" alt="" height="27" width="68" border="0" /></a></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=1');"><img src="bilder/fern_05.jpg" alt="" height="28" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=2');"><img src="bilder/fern_06.jpg" alt="" height="28" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=3');"><img src="bilder/fern_07.jpg" alt="" height="28" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=4');"><img src="bilder/fern_08.jpg" alt="" height="28" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=5');"><img src="bilder/fern_09.jpg" alt="" height="28" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=6');"><img src="bilder/fern_10.jpg" alt="" height="28" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=7');"><img src="bilder/fern_11.jpg" alt="" height="28" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=8');"><img src="bilder/fern_12.jpg" alt="" height="28" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=9');"><img src="bilder/fern_13.jpg" alt="" height="28" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=0');"><img src="bilder/fern_15.jpg" alt="" height="28" width="66" border="0" /></a></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=menu');"><img src="bilder/fern_18.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=back');"><img src="bilder/fern_19.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td colspan="3"><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=red');"><img src="bilder/fern_22.jpg" alt="" height="28" width="50" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=green');"><img src="bilder/fern_23.jpg" alt="" height="28" width="49" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=yellow');"><img src="bilder/fern_24.jpg" alt="" height="28" width="51" border="0" /></a><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=blue');"><img src="bilder/fern_25.jpg" alt="" height="28" width="50" border="0" /></a></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=up');"><img src="bilder/fern_28.jpg" alt="" height="27" width="66" border="0" /></a></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=left');"><img src="bilder/fern_31.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=ok');"><img src="bilder/fern_32.jpg" alt="" height="27" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=right');"><img src="bilder/fern_33.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=down');"><img src="bilder/fern_36.jpg" alt="" height="27" width="66" border="0" /></a></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=rec');"><img src="bilder/fern_41.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=stop');"><img src="bilder/fern_42.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=fastrew');"><img src="bilder/fern_43.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=play');"><img src="bilder/fern_44.jpg" alt="" height="27" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=fastfwd');"><img src="bilder/fern_45.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=prev');"><img src="bilder/fern_46.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=pause');"><img src="bilder/fern_47.jpg" alt="" height="27" width="66" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=next');"><img src="bilder/fern_48.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
						<tr>
							<td></td>
							<td><img src="bilder/spacer.gif" alt="" height="20" width="50" border="0" /></td>
							<td></td>
						</tr>
						<tr>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=VolumeMinus');"><img src="bilder/fern_39.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=mute');"><img src="bilder/fern_mute.jpg" alt="" height="27" width="67" border="0" /></a></td>
							<td><a href="javascript:switch_channel('./vdradmin.pl?aktion=rc_hitk&amp;key=VolumePlus');"><img src="bilder/fern_40.jpg" alt="" height="27" width="67" border="0" /></a></td>
						</tr>
					</table>
				</td>
				<td id="sect_channels">
				  <table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td> 
								<select name="select_wanted_channels" size="1" class="submit" onchange="window.open(this.options[this.selectedIndex].value,'main')">
<?% FOREACH ch_grp = ch_groups %?> 
									<option value="<?% ch_grp.url %?>" <?% IF ch_grp.selected %?>selected="selected"<?% END %?> ><?% ch_grp.title %?></option>
<?% END %?>
								</select>
							</td>
						</tr>
						<tr>
							<td> 
								<select name="channel" size="32" onchange="javascript:switch_channel('./vdradmin.pl?aktion=tv_switch&amp;channel=' + encodeURIComponent(this.options[this.selectedIndex].value));" style="width:100%;">
<?% FOREACH chan = channels %?>
      						<option value="<?% chan.vdr_id %?>" <?% IF chan.cur %?>selected="selected"<?% END %?>><?% chan.name | html %?></option>
<?% END %?>
			      		</select>
<!--						<a class="submit" href="javascript:switch_by_select();">Switch</a> -->
							</td>
						</tr>
					</table>
				</td>
<?% END %?>
<?% IF full_tv %?>
<?% END %?>
			</tr>
		</table>
	</form>
</body>
</html>
