<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
    <title></title>
    <link href="navi.css" rel="stylesheet" media="screen">
    <script>
			<!--
			function rc_open() {
				//window.open("./vdradmin.pl?aktion=rc_show", "_blank", "width=200, height=640, resizable=no, scrollbars=no, status=no, toolbar=no");
				window.open("./vdradmin.pl?aktion=rc_show", "_blank", "width=201, height=460, resizable=no, scrollbars=no, status=no, toolbar=no");
			}
			function tv_open() {
				window.open("./vdradmin.pl?aktion=tv_show", "_blank", "width=384, height=340, resizable=no, scrollbars=no, status=no, toolbar=no");
			}
			// -->
		</script>
  </head>

  <body background="bilder/back.gif" bgcolor="#ffffff" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
  <form action="vdradmin.pl" method="get" name="FormName" target="main">
    <table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><br>
          <a href="./" target="_top"><img src="bilder/linvdr.gif" alt="" height="50" width="150" border="0"></a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=prog_summary" target="main">En ce moment</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=prog_list" target="main">Chaînes</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=timer_list" target="main">Programmes</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=at_timer_list" target="main">Programmes auto</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=rec_list" target="main">Enregistrements</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="vdradmin.pl?aktion=conf_list" target="main">Configuration</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="javascript:rc_open();">Télécommande</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr height="25">
        <td height="25"><span class="navi">&nbsp;<a href="javascript:tv_open();">TV</a></span></td>
      </tr>
      <tr height="2">
        <td bgcolor="white" height="2" background="bilder/separator.png"></td>
      </tr>
      <tr>
        <td></td>
      </tr>      
      <tr>
        <td>
        	&nbsp;Recherche:<br>&nbsp;<b><input type="text" name="search" size="15"></b><input type="hidden" name="aktion" value="prog_summary"><br>
            &nbsp;<input type="submit" name="submit" value="go!"></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    </form>
  </body>

</html>
